.THIS.view-details{
    border-top-color: #ccc;
}
.THIS span{
    font-weight:bold
}
.THIS span.shipped{
    color:#02a930;
}
.THIS span.partial{
    color:#fd7c29;
}
.THIS span.hold{
    color:#b34847;
}
.THIS span.default{
    color:#666;
}
.THIS div.multiple{
    color: #999;
    padding-top: 15px;
}