.THIS .active{
    border-color: #4293D9 !important;
    background-color: #4293D9 !important;
    /*background-color: #16325c !important;
    border-color: #D8DDE6 !important;*/
    color: #D8DDE6 !important;
}