.THIS .slds-button--neutral.slds-is-selected:focus{
    border-color: #669ac4;
    background-color: #669ac4;
}

.THIS .divider{
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    position: relative;
}

.THIS .divider.active{
    background-color: #669ac4;
}

.THIS .divider .divider-name{
    font-size: 17px;
    font-weight: bold;
    color: #669ac4;
}

.THIS .divider.active .divider-name, .THIS .divider.active .divider-total{
    color: white;
}

.THIS .divider .divider-total{
    color: #669ac4;
}

.THIS .divider .divider-name:after {
  content: "";
  height: 0;
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #6498C7;
  position: absolute;
  right: 1rem;
  top: 18px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.THIS .divider.active .divider-name:after {
  border-left-color: white;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.THIS .sub-divider{
    background-color: #999;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}