.THIS ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #69C;
}

.THIS .header{
    padding: 15px;
    padding-bottom: 5px;
    color: #333;
    border-bottom: solid 1px #ccc;
}

.THIS .header h3{
    font-size:18px;
    font-weight: 500;
}

.THIS .header p{
    font-size: 15px;
}

.THIS .header .resultLabel{
    font-size: 14px;
    color: #666;
}

.THIS .header .clear-button{
    width: 50px;
    text-align: center;
    padding: 10px 5px;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 5px;
    float: right;
}

.THIS .header .option-info{
    padding-bottom: 10px;
}

.THIS .searchBox {
    position: relative;
    font-size: 16px;
    color:#818181;
    margin: 15px 0;
}

.THIS .searchBox input{
    color: #000;
}

.THIS .searchBox .fa-search{
    position: absolute;
    top: 10px;
    right: 10px;
}
/*Connor Flynn S-398540 Start*/
.THIS  .searchBox .with-x {
    width: 85%;
    border-right-width: 0px;
    border-right-color: #FFFFFF;
    border-radius: 0.25em 0 0 0.25em;
    border-color: rgb(216, 221, 230);
    padding-right: 0px;
}
.THIS .searchBox .fa-x{
    border-top-color: rgb(216, 221, 230);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(216, 221, 230);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(216, 221, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #FFFFFF;
    border-left-style: solid;
    border-left-width: 0px;
    background-color: #FFFFFF; 
    display: inline; 
    padding: 7px 7px 7px 0px;
    border-radius: 0 0.25rem 0.25rem 0;
    overflow: hidden;
}
.THIS .icon-utility-clear {
    fill: #D3D3D3;
    padding: 5px;
}
/*Connor Flynn S-398540 End*/
.THIS span.no-results {
    width: 100%;
    padding: 15px;
    background-color: white;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.THIS.order-footer{
    display: block;
    width: 100%;
    height: 44px;
    background-color: #fff;
    position:fixed;
    bottom:0;
    left:0;
    z-index:999;
    border-top: solid 1px #E1E4E8;
    padding-left: 12.5%;
    padding-right:5%;
}
.THIS.order-footer .footer-button .slds-icon-action-description{
    background-color: #FD90B5;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: inline-block;
}
.THIS.order-footer .footer-button .slds-icon-action-description.sort-button{
    background-color: #FAB9A5;
}
.THIS.order-footer .footer-button .slds-icon-action-description.range-button{
    background-color: #65CAE4;
}
.THIS svg.slds-icon.slds-icon--small{
    height: 16px;
    width: 16px;
    margin-left: -4px;
    margin-top: -10px;
}
.THIS .range-button svg.slds-icon.slds-icon--small{
    margin-top:-14px;
}
.THIS .footer-button-description{
    vertical-align: middle;
    margin-left: 5px;
    color: #5B6E81;
    font-weight: 500;
}

.THIS .footer-button{
    margin-top: 10px;
    display: inline-block;
    margin-left: 0;
    margin-right: 9.5%;
}
.THIS .footer-button.sort{
    float: left;
    margin-right: 0;
}
.THIS .uiMenuList.visible.sort{
    width: 180px;
    bottom: 32px;
    right: -30px;
}
.THIS .uiMenuList.visible .uiMenuItem{
    padding: 10px 15px;
    text-align: center;
}
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem{
    text-align: left;
}

.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a b{
    margin-right: 10px;
}
/*.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a.selected b{
    background: none;
}
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a b:after{
    content:"X";
}*/
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a.selected b:after{
    content:"";
}
.THIS.modalWrapper{
    background-color: #97A3AD;
}
.THIS.modalWrapper .modalCloseButton{
    color: #fff;
    font-size: 22px;
    /* margin-left: calc(100% - 26px); */
    text-align: center;
    width: 100%;
    display: inline-block;
    padding:4px;
}
.THIS .slds-tabs--default__nav a:hover, .THIS .slds-tabs--default__nav a:focus{
    border: none !important;
}
.THIS .slds-tabs--default__nav .slds-active a:hover, .THIS .slds-tabs--default__nav .slds-active a:focus{
    border-bottom: 2px solid #0070d2 !important;
}

.THIS .filter-menu, .THIS .sort-menu, .THIS .range-menu{
    width: 100px;
    float:left;
}

.THIS.atm-view.order-footer{
    padding: 0;
}

.THIS.atm-view .filter-menu, .THIS.atm-view .sort-menu, .THIS.atm-view .range-menu{
	width: 75px;
	margin-right: 8%;    
}

.THIS.atm-view .filter-menu{
    margin-left: 5px;
}

.THIS.atm-view .sort-menu{
    margin-right: 0;
}

.THIS.atm-view .range-menu .footer-button-description{
    margin-left: 3px;
}

.THIS.atm-view .range-menu div.uiMenuList.visible{
    left: -10px;
}
.THIS.atm-view .range-menu ul{
    width: 100px;
}

.THIS.atm-view span.tm-menu{
    float: right;
    display: inline-block;
    width: 75px;
    margin-right: 0px;
}

.THIS.atm-view .tm-menu div.uiMenuList.visible{
    left: -85px;
}

.THIS .filter-menu .popupTargetContainer .checkboxMenu, .THIS .sort-menu .popupTargetContainer .actionMenu{
    width: 185px;
}

.THIS .orderStatus span{
    font-weight:bold
}
.THIS .orderStatus span.shipped{
    color:#02a930;
}
.THIS .orderStatus span.partial{
    color:#fd7c29;
}
.THIS .orderStatus span.hold{
    color:#b34847;
}
.THIS .orderStatus span.default{
    color:#666;
}

.THIS a.more-button{
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: white;
    font-weight: bold;
}

.THIS .filter-menu ul, .THIS .tm-menu ul{
    max-height: 450px;
    overflow: scroll;
}

.THIS .searchBox.blue{
    background-color: #AACCDD;
    margin: 0;
    padding:15px;
}

.THIS .searchBox.blue .fa-search{
    top:25px;
    right:25px;
}

.THIS .actionMenu .actionMenu ul li a.selectable:hover, .THIS .actionMenu .actionMenu ul li a.selectable:focus{
    text-decoration: none
}
.THIS .actionMenu .actionMenu ul li.activeRange a.selectable, .THIS .actionMenu .actionMenu ul li.activeRange a.selectable:hover, .THIS .actionMenu .actionMenu ul li.activeRange a.selectable:hover{
    text-decoration: underline
}

.THIS .tm-menu .checkboxMenu.filter.popupTargetContainer.uiPopupTarget.uiMenuList.uiMenuList--default.visible{
    width: 210px;
    left: -137px;
}

@media only screen 
and (max-device-width : 320px){
	.THIS.order-footer{
        padding-left: 10%;
    }    
    .THIS .filter-menu, .THIS .sort-menu, .THIS .range-menu{
        width: 90px;
    }
    .cNv_OrderHistory.atm-view .filter-menu, .cNv_OrderHistory.atm-view .range-menu{
        margin-right: 2%;
    }
}