.THIS .active, .THIS .btn:hover{
    border-color: #4293D9 !important;
    background-color: #4293D9 !important;
    /*background-color: #16325c !important;
    border-color: #D8DDE6 !important;*/
    color: #FFF !important;
}

.THIS .sldx-overlay{
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.50);
    top: 0;
    z-index:999;
}

.THIS .slds-button+.slds-button{
    margin-left: 0px;
}