.THIS .slds-notify_container{
	position: static !important;
}
.THIS .slds-notify{
    padding-left: 20px !important;
    line-height: 32px !important;
    font-size: 18px !important;
    text-align: left !important;
}
.THIS .jstree-anchor:focus, .THIS .jstree-anchor:hover{
    outline: none !important;
    text-decoration: none !important;
}
.THIS .jstree-anchor:focus{
    color: #16325C !important;
}
.THIS .jstree-anchor:hover{
    color: #FFF !important;
}
.THIS .jstree-proton .jstree-clicked {
    color: #FFF !important;
}
.THIS .dataCellHover, .THIS .dataCell:hover, .THIS .jstree-hovered{
    background:#0070D2 !important;
}
.THIS .headerMainCell, .THIS .headerCell{
    background: #F4F6F9;
    border-width: 0 0 1px 1px;
    border-color: #D8DDE6;
    color: #163
}
.THIS .headerMainCell {
    border-left-width: 2px !important;
    border-left-color: #d0d0d0 !important;
    border-left-style: solid !important;
}
.THIS .hidden {
	display: none !important;
}