.THIS.hideEl {
    display: none;
}
.THIS .slds-modal__header__blank {
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 2px 16px;
    text-align: center;
    flex-shrink: 0;
    background: white;
}
.THIS .slds-modal__container{
    display: block !important;
}