.THIS {
}

.THIS a.selectable:hover, .THIS a.selectable:focus{
    text-decoration: none !important;
}
.THIS .danger, .THIS .slds-dl--horizontal__detail.danger{
    color: #b14b45;
}

.THIS .nvActiveTab{
    background-color: #22c6ff !important;
}

.THIS .salesTotals{
   width: 80%;
   text-align: center;
   margin: auto;
   padding: 10px;
   padding-bottom: 0;
   font-size: 24px;
   color: #090d0f;
   font-weight: 300;
}

.THIS .total-booked{
   font-size: 24px;
}

.THIS .total-shipped{
   font-size: 18px;

}

.THIS .salesTotals h1{
  margin-bottom: 10px !important;
}

.THIS .buttons{
    text-align: center;
    margin-bottom: -20px;
}

.THIS .buttons .uiButton .label{
    font-size: 13px !important;
}

.THIS li.slds-tabs__item.slds-text-heading--label {
    width: 25%;
    text-align: center;
}

.THIS .slds-button--neutral.slds-is-selected, .THIS .slds-button--neutral.slds-is-selected:active, .THIS .slds-button--neutral.slds-is-selected:hover   {
    border-color: #669ac4;
    background-color: #669ac4;
    color: #fff;
    font-weight: 600;
}
.THIS .slds-button--neutral{
    width: 25%;
    color: #669ac4;
    font-size: 10px;
    padding-left: 9px;
    padding-right: 9px;
}
.THIS .slds-tabs__content{
    background-color: #fff;
}
.THIS .slds-button-group{
    margin-bottom: 5px;
}
.THIS .slds-scrollable--y.order-listing{
    overflow: hidden;
    overflow-y: auto;
}
.THIS.order-footer{
    display: block;
    width: 100%;
    height: 44px;
    background-color: #fff;
    position:fixed;
    bottom:0;
    left:0;
    z-index:999;
    border-top: solid 1px #E1E4E8;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.THIS.order-footer .footer-button .slds-icon-action-description{
    background-color: #FD90B5;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: inline-block;
}
.THIS.order-footer .footer-button .slds-icon-action-description.sort-button{
    background-color: #FAB9A5;
}
.THIS svg.slds-icon.slds-icon--small{
    height: 16px;
    width: 16px;
    margin-left: -4px;
    margin-top: -10px;
}
.THIS .footer-button-description{
    vertical-align: middle;
    margin-left: 5px;
    color: #5B6E81;
    font-weight: 500;
}

.THIS .footer-button{
    margin-top: 10px;
    display: inline-block;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.THIS .footer-button.sort{
    float: right;
    margin-top: -25px;
}
.THIS .uiMenuList.visible.sort{
    width: 180px;
    bottom: 32px;
    right: -30px;
}
.THIS .uiMenuList.visible .uiMenuItem{
    padding: 10px 15px;
    text-align: center;
}
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem{
    text-align: left;
}

.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a b{
    margin-right: 10px;
}
/*.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a.selected b{
    background: none;
}
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a b:after{
    content:"X";
}*/
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a.selected b:after{
    content:"";
}
.THIS.modalWrapper{
    background-color: #97A3AD;
}
.THIS.modalWrapper .modalCloseButton{
    color: #fff;
    font-size: 22px;
    /* margin-left: calc(100% - 26px); */
    text-align: center;
    width: 100%;
    display: inline-block;
    padding:4px;
}
.THIS .slds-tabs--default__nav a:hover, .THIS .slds-tabs--default__nav a:focus{
    border: none !important;
}
.THIS .slds-tabs--default__nav .slds-active a:hover, .THIS .slds-tabs--default__nav .slds-active a:focus{
    border-bottom: 2px solid #0070d2 !important;
}

.THIS .filter-menu, .THIS .sort-menu{
    width: 100px;
    clear: both;
}
.THIS .filter-menu{
    float: left;
}
.THIS .sort-menu{
    float:right;
    margin-right: 5%;
}

.THIS .filter-menu .popupTargetContainer .checkboxMenu, .THIS .sort-menu .popupTargetContainer .actionMenu{
    width: 185px;
}