.THIS .orderStatus span{
    font-weight:bold
}
.THIS .orderStatus span.shipped{
    color:#02a930;
}
.THIS .orderStatus span.partial{
    color:#fd7c29;
}
.THIS .orderStatus span.hold{
    color:#b34847;
}
.THIS .orderStatus span.default{
    color:#666;
}

.THIS .daysCount span.red{
    color:#ff0000;
}
.THIS .daysCount span.orange{
    color:#ffa500;
}
.THIS .daysCount span.green{
    color:#00ff00;
}

.THIS .address a{
   color: #555;
}

.THIS .orderInvoice {
    position: relative;
    margin: 0px;
    padding: 0px;
}
.THIS .borderBottom {
    border-bottom: 1px solid #ddd;
}