.THIS {
    background-color: #fff !important;
    padding: 10px;
    border-bottom: solid 1px #d9dde1;
}
.THIS .orderContainer{
    background-color: #fff !important;
    padding: 10px;
    border-bottom: solid 1px #d9dde1;
}
.THIS dd.slds-dl--horizontal__detail{
    display: inline-block;
    width: 65%;
    color: #000;
    margin-left:auto;
}
.THIS dt.slds-dl--horizontal__label {
    float: left;
    width: 35%;
    color: #595959;
}
.THIS .accountName{
    font-weight:bold;
    color: #000;
}
.THIS .orderStatus span{
    font-weight:bold
}
.THIS .orderStatus span.shipped{
    color:#02a930;
}
.THIS .orderStatus span.partial{
    color:#fd7c29;
}
.THIS .orderStatus span.hold{
    color:#b34847;
}
.THIS .orderStatus span.default{
    color:#666;
}

.THIS .slds-dl--horizontal__detail a{
    color:#000;
    text-decoration: none;
}

.THIS.account, .THIS.order{
    position:relative;
}

.THIS button.unfollow{
    font-weight: bold;
    background-color: #c00;
    border: solid 2px #c00;
    border-radius: 20px;
    width: 30px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 25px;
}

.THIS.order button.unfollow{
    top: 50px;
}