.THIS {
    background-color: #fff !important;
    padding: 10px;
    border-bottom: solid 1px #d9dde1;
}
.THIS .orderContainer{
    background-color: #fff !important;
    padding: 10px;
    border-bottom: solid 1px #d9dde1;
}
.THIS dd.slds-dl--horizontal__detail{
    display: inline-block;
    width: 65%;
    color: #000;
    margin-left:auto;
}
.THIS dt.slds-dl--horizontal__label {
    float: left;
    width: 35%;
    color: #595959;
}
.THIS .accountName{
    font-weight:bold;
    color: #000;
}
.THIS .slds-dl--horizontal__detail a{
    color:#000;
    text-decoration: none;
}