<apex:page standardController="Case" extensions="AssignAssetUnitController">

    <style type="text/css">
        .tdText { padding: 2px;padding-top: 3px;vertical-align: middle; }
        .tdCheck { padding: 2px;vertical-align: middle; }
    </style>

    <apex:form >
        <apex:pageBlock title="Modify & Assign Assets">
            <apex:pageBlockTable value="{!assetObjectList}" var="assetObject" style="padding:5px;border:grey solid 1px;border-collapse: collapse;" border="1" >
    
                <apex:column style="width:15px" styleClass="tdCheck">
                    <apex:facet name="header">
                        <apex:outputText value="Select<br/>Group" escape="false"/>
                    </apex:facet>
                    <apex:inputCheckbox value="{!assetObject.isMarked}" />
                </apex:column>
                <apex:column style="width:150px" styleClass="tdText">
                    <apex:facet name="header">
                        <apex:outputText value="Asset Name" />
                    </apex:facet>
                    <apex:outputText value="{!assetObject.name}" />
                </apex:column>
                <apex:column style="width:70px" styleClass="tdText">
                    <apex:facet name="header">
                        <apex:outputText value="Room no." />
                    </apex:facet>
                    <apex:outputText value="{!assetObject.room}" />
                </apex:column>
    
                <!-- 
                <apex:repeat value="{!unitCount}" var="i">
                    <apex:column style="width:15px" styleClass="tdCheck">
                        <apex:facet name="header">
                            <apex:outputText value="Select" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!assetObject.assetUnitsMap[i].isMarked}" rendered="{!assetObject.assetUnitsMap[i].assetUnit.SerialNumber__c != null}"/>
                    </apex:column>
                    <apex:column style="width:50px" styleClass="tdText">
                        <apex:facet name="header">
                            <apex:outputText value="{!('Serial No. ' & TEXT(i))}" />
                        </apex:facet>
                        <apex:outputField value="{!assetObject.assetUnitsMap[i].assetUnit.SerialNumber__c}" />
                    </apex:column>
                </apex:repeat>
                -->
                <!-- First Row -->
                <apex:column style="width:15px" styleClass="tdCheck">
                        <apex:facet name="header">
                            <apex:outputText value="Select" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!assetObject.assetUnitsMap[1].isMarked}" rendered="{!assetObject.assetUnitsMap[1].assetUnit.SerialNumber__c != null}"/>
                    </apex:column>
                    <apex:column style="width:50px" styleClass="tdText">
                        <apex:facet name="header">
                            <apex:outputText value="{!('Serial No. ' & TEXT(1))}" />
                        </apex:facet>
                        <apex:outputField value="{!assetObject.assetUnitsMap[1].assetUnit.SerialNumber__c}" />
                </apex:column>
                <!-- Snd Row -->
                <apex:column style="width:15px" styleClass="tdCheck">
                        <apex:facet name="header">
                            <apex:outputText value="Select" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!assetObject.assetUnitsMap[2].isMarked}" rendered="{!assetObject.assetUnitsMap[2].assetUnit.SerialNumber__c != null}"/>
                    </apex:column>
                    <apex:column style="width:50px" styleClass="tdText">
                        <apex:facet name="header">
                            <apex:outputText value="{!('Serial No. ' & TEXT(2))}" />
                        </apex:facet>
                        <apex:outputField value="{!assetObject.assetUnitsMap[2].assetUnit.SerialNumber__c}" />
                </apex:column>
                <!-- Third Row -->
                <apex:column style="width:15px" styleClass="tdCheck">
                        <apex:facet name="header">
                            <apex:outputText value="Select" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!assetObject.assetUnitsMap[3].isMarked}" rendered="{!assetObject.assetUnitsMap[3].assetUnit.SerialNumber__c != null}"/>
                    </apex:column>
                    <apex:column style="width:50px" styleClass="tdText">
                        <apex:facet name="header">
                            <apex:outputText value="{!('Serial No. ' & TEXT(3))}" />
                        </apex:facet>
                        <apex:outputField value="{!assetObject.assetUnitsMap[3].assetUnit.SerialNumber__c}" />
                </apex:column>
                <!-- Fourth Row -->
                <apex:column style="width:15px" styleClass="tdCheck">
                        <apex:facet name="header">
                            <apex:outputText value="Select" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!assetObject.assetUnitsMap[4].isMarked}" rendered="{!assetObject.assetUnitsMap[4].assetUnit.SerialNumber__c != null}"/>
                    </apex:column>
                    <apex:column style="width:50px" styleClass="tdText">
                        <apex:facet name="header">
                            <apex:outputText value="{!('Serial No. ' & TEXT(4))}" />
                        </apex:facet>
                        <apex:outputField value="{!assetObject.assetUnitsMap[4].assetUnit.SerialNumber__c}" />
                </apex:column>
                <!-- Fifth Row -->
                <apex:column style="width:15px" styleClass="tdCheck">
                        <apex:facet name="header">
                            <apex:outputText value="Select" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!assetObject.assetUnitsMap[5].isMarked}" rendered="{!assetObject.assetUnitsMap[5].assetUnit.SerialNumber__c != null}"/>
                    </apex:column>
                    <apex:column style="width:50px" styleClass="tdText">
                        <apex:facet name="header">
                            <apex:outputText value="{!('Serial No. ' & TEXT(5))}" />
                        </apex:facet>
                        <apex:outputField value="{!assetObject.assetUnitsMap[5].assetUnit.SerialNumber__c}" />
                </apex:column>
                <!-- Sixth Row -->
                <apex:column style="width:15px" styleClass="tdCheck">
                        <apex:facet name="header">
                            <apex:outputText value="Select" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!assetObject.assetUnitsMap[6].isMarked}" rendered="{!assetObject.assetUnitsMap[6].assetUnit.SerialNumber__c != null}"/>
                    </apex:column>
                    <apex:column style="width:50px" styleClass="tdText">
                        <apex:facet name="header">
                            <apex:outputText value="{!('Serial No. ' & TEXT(6))}" />
                        </apex:facet>
                        <apex:outputField value="{!assetObject.assetUnitsMap[6].assetUnit.SerialNumber__c}" />
                </apex:column>
                
                <apex:column style="width:75px;text-align:center;" styleClass="tdText">
                    <apex:facet name="header">
                        <apex:outputText value="Warrenty start date" />
                    </apex:facet>
                    <apex:outputText value="{!assetObject.warrantyStartDate}"/>
                </apex:column>
                <apex:column style="width:75px;text-align:center;" styleClass="tdText">
                    <apex:facet name="header">
                        <apex:outputText value="Warrenty end date" />
                    </apex:facet>
                    <apex:outputText value="{!assetObject.warrantyEndDate}" />
                </apex:column>
                <apex:column style="width:50px;text-align:center;" styleClass="tdText">
                    <apex:facet name="header">
                        <apex:outputText value="Service agreement" />
                    </apex:facet>
                    <apex:outputText rendered="{!(assetObject.serviceAgreement == 'Yes')}">
                        <input type="checkbox" checked="true" disabled="true"/>
                    </apex:outputText>                    
                    <apex:outputText rendered="{!(assetObject.serviceAgreement != 'Yes')}">
                        <input type="checkbox" disabled="true"/>
                    </apex:outputText>
                </apex:column>
                <apex:column style="width:100px" styleClass="tdText">
                    <apex:facet name="header">
                        <apex:outputText value="Agreement Type" />
                    </apex:facet>
                    <apex:outputText value="{!assetObject.agreementType}" />
                </apex:column>
            </apex:pageBlockTable>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Save changes / Assign" action="{!saveChanges}" />
                <apex:commandButton value="Return to case" action="{!cancel}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
        
    </apex:form>

</apex:page>