<apex:page controller="ChatterUploaderCtrl" showHeader="false" sidebar="false" action="{!redirectWithParams}">
    <iframe id="uploadIFrame"
        src="{!UploadCourseUrl}"
    ></iframe>
    <style>
        #uploadCourseURL html {
            height: 100%;
        }
        html {
            height:100%;
        }
        body {
            height:100%;
        }
        iframe {
            border:0;
            width:100%;
            height: 100%;
        }
    </style>
</apex:page>