<!--
/**================================================================      
* Appirio, Inc
* Name: COMM_displayEquipmentWizard
* Description: Displays the common fields for all the RTs, and uses                       
              COMM_displayEquipmentWizardController for inserting a new record after user input for T-502677
* Created Date: 22 May 2016
* Created By: Mehul Jain (Appirio)
*
* Date Modified      Modified By      Description of the update
* 11 Aug 2016        Kanika Mathur    Modified to include a Cancel button I-229592
==================================================================*/
-->

<apex:page standardController="Equipment__c" extensions="COMM_displayEquipmentWizardController" title="Equipment CheckList Wizard">
  
  <apex:form >
     <apex:pageMessages ></apex:pageMessages>
     <apex:pageBlock title="Equipment CheckList Edit" mode="edit">
        <apex:pageBlockButtons >
            <apex:commandButton action="{!saveEquipment}" value="Save" reRender=""/>
            <apex:commandButton action="{!cancelEquipment}" value="Cancel" reRender=""/>
        </apex:pageBlockButtons>
     
        <apex:pageBlockSection title="Information" columns="2">
            <apex:inputField value="{!equipment.Room__c}"/>
            <apex:outputField value="{!equipment.RecordTypeID}"/>
            <apex:inputField value="{!equipment.Description__c}"/>
            <apex:inputField value="{!equipment.Type__c}" required="{!flag}"/>
            <apex:inputField value="{!equipment.Notes__c}"/>
        </apex:pageBlockSection>
        </apex:pageBlock>
  </apex:form>

</apex:page>