<apex:page tabStyle="Document__c" standardController="Document__c" extensions="COMM_OpportunityDocumentUploadExtension">
  <apex:sectionHeader title="{!Document__c.Name}" subTitle="Attach Document"/>
  <apex:pageMessages />
  <apex:form id="documentUploadForm">
    <apex:pageBlock >
      <apex:pageBlockButtons location="top">
        <apex:commandButton value="Save" action="{!processSelectedDocument}"/>
        <apex:commandButton value="Cancel" action="{!cancel}"/>
      </apex:pageBlockButtons>
      <apex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem >
          <apex:outputLabel value="Select File To Upload" for="theSelectedDocument"/>
          <apex:inputFile id="theSelectedDocument" value="{!documentBody}" filename="{!documentName}"/>
        </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
</apex:page>