<apex:page standardController="Project_Plan__c" standardStylesheets="true" sidebar="false" extensions="COMM_ProjectDocsListController" >
<apex:includeScript value="/soap/ajax/26.0/connection.js"/>
<apex:includeScript value="/support/console/26.0/integration.js"/>

<apex:form >
    <apex:pageBlock id="fullPage">
        <!-- MV 19th Oct. Added Save button for Issue I-240052-->
         <apex:pageBlockButtons >
            <apex:commandButton action="{!doSave}" value="Save" rendered="{!OR(CONTAINS($Profile.Name,$Label.System_Administrator),
                                                                            CONTAINS($Profile.Name,$Label.COMM_System_Administrator),
                                                                            CONTAINS($Profile.Name,$Label.Service_Project_Manager_COMM_US))}"/>
        </apex:pageBlockButtons>
      <apex:pageMessages ></apex:pageMessages>
        <!--<apex:pageBlockButtons location="top">
            <apex:commandButton value="Add Document" onclick="addDocument()"/>
            <apex:commandButton value="CAD Request" onclick="openCADRequest()"/>
            <!-- Commenting as a part of I-214361 
               <apex:commandButton value="Create Combined Proposal" onclick="createCombinedProposal()"/> -->
        <!--</apex:pageBlockButtons>-->
        <apex:outputPanel style="width:100%">
        <apex:actionFunction name="deleteDocument" action="{!doDelete}" rerender="fullPage">
          <apex:param name="delParam" assignTo="{!selectedId}" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="doSortJS" action="{!sortList}" reRender="fullPage">
          <apex:param value="" name="firstParam" assignTo="{!sortField}"/>
        </apex:actionFunction>
        <apex:actionFunction name="doCheck" action="{!checkDoc}" reRender="fullPage">
           <apex:param value="" name="checkParam" assignTo="{!docSignOffCheckId}"/> 
        </apex:actionFunction>
        <apex:outputPanel rendered="{!documentListToShow.size = 0}">
        <apex:outputLabel >
        No Records Found.
        </apex:outputLabel>
        </apex:outputPanel>
       
        <apex:pageBlockTable value="{!documentListToShow}" var="doc" id="sftable" width="80%" style="overflow:scroll;" rendered="{!documentListToShow.size > 0}">
            <!--<apex:column headerValue="Action" style="width:10%">
            <apex:outputPanel layout="inline">
               <a onClick="editDocument('{!doc.Id}');" style="cursor: pointer;text-decoration: underline;color: #015ba7;">Edit</a>&nbsp;|&nbsp;
            </apex:outputPanel>
            <apex:outputPanel layout="inline">
               <a onClick="deleteDocument('{!doc.Id}');" style="cursor: pointer;text-decoration: underline;color: #015ba7;">Delete</a>
            </apex:outputPanel>
            </apex:column>-->
            <apex:column style="width:15%">
              <apex:facet name="header">
                <!--<a href="" value="Name" onclick="doSortJS('Name', 'asc')" />-->
                Name
                <a href="javascript:void(0);" onclick="doSortJS('Name')"><img src="{!IF(isAsc, '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}" /></a>
              </apex:facet>
                <apex:outputLink target="_blank" value="/{!doc.Id}">
                <apex:outputField value="{!doc.Name}"/>
                </apex:outputLink>
            
            </apex:column>
            <apex:column style="width:10%">
               <apex:facet name="header">
                Type
                <a href="javascript:void(0);" onclick="doSortJS('Document_type__c')"><img src="{!IF(isAsc, '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}" /></a>
              </apex:facet>
            <apex:outputField value="{!doc.Document_type__c}">
                
            </apex:outputField>
            </apex:column>
            <apex:column style="width:7%">
              <apex:facet name="header">
                <!--<a href="" value="Name" onclick="doSortJS('Name', 'asc')" />-->
                Approval Status
                <a href="javascript:void(0);" onclick="doSortJS('Approval_Status__c')"><img src="{!IF(isAsc, '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}" /></a>
              </apex:facet>
            <apex:outputField value="{!doc.Approval_Status__c}">
                
            </apex:outputField>
            </apex:column>
            
            <apex:column style="width:4%">
              <apex:facet name="header">
                <!--<a href="" value="Name" onclick="doSortJS('Name', 'asc')" />-->
                Use for Sign-Off
                <a href="javascript:void(0);" onclick="doSortJS('Use_for_Sign_Off__c')"><img src="{!IF(isAsc, '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}" /></a>
              </apex:facet>
            <apex:inputField value="{!doc.Use_for_Sign_Off__c}" onchange="doCheck('{!doc.Id}');">
                
            </apex:inputField>
            </apex:column>
            
            <apex:column style="width:9%">
              <apex:facet name="header">
                Opportunity
                <a href="javascript:void(0);" onclick="doSortJS('Opportunity__c')"><img src="{!IF(isAsc, '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}" /></a>
              </apex:facet>
            <apex:outputLink target="_blank" value="/{!doc.Opportunity__r.Id}">
            <apex:outputField value="{!doc.Opportunity__r.Name}"/>
            </apex:outputLink>
            </apex:column>
            <apex:column style="width:4%">
              <apex:facet name="header">
                <!--<a href="" value="Name" onclick="doSortJS('Name', 'asc')" />-->
                Quote
                <a href="javascript:void(0);" onclick="doSortJS('Oracle_Quote__c')"><img src="{!IF(isAsc, '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}" /></a>
              </apex:facet>
            <apex:outputLink target="_blank" value="/{!doc.Oracle_Quote__r.Id}">
            <apex:outputField value="{!doc.Oracle_Quote__r.Name}"/>
            </apex:outputLink>
            </apex:column>
            <apex:column style="width:12%">
              <apex:facet name="header">
                <!--<a href="" value="Name" onclick="doSortJS('Name', 'asc')" />-->
                Last Modified By
                <a href="javascript:void(0);" onclick="doSortJS('LastModifiedBy')"><img src="{!IF(isAsc, '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}" /></a>
              </apex:facet>
            <apex:outputField value="{!doc.LastModifiedBy.Name}">
                
            </apex:outputField>
            </apex:column>
            <apex:column style="width:14%">
            <apex:facet name="header">
              <!--<a href="" value="Name" onclick="doSortJS('Name', 'asc')" />-->
              Last Modified Date
              <a href="javascript:void(0);" onclick="doSortJS('LastModifiedDate')"><img src="{!IF(isAsc, '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}" /></a>
            </apex:facet>
            <apex:outputField value="{!doc.LastModifiedDate}">
                
            </apex:outputField>
            </apex:column>
            <apex:column headerValue="Document Link" style="width:10%">
            <apex:outputField value="{!doc.Document_Link__c}">
                
            </apex:outputField>
            </apex:column>
            <apex:column headerValue="View" style="width:5%">
            <apex:outputField value="{!doc.View__c}">
                
            </apex:outputField>
            </apex:column>
            
        </apex:pageBlockTable>
        <br/>
        <apex:commandButton value="First" action="{!First}" rendered="{!hasPrevious}" reRender="sftable,fullPage" styleClass="btn btn-default rndBtn blueBtn m_r5" />
        &nbsp;
        <apex:commandButton value="<< Previous" action="{!previous}" rendered="{!hasPrevious}" reRender="sftable,fullPage" styleClass="btn btn-default rndBtn blueBtn m_r5" />
        &nbsp;
        <apex:commandButton value="Next >>" action="{!next}" rendered="{!hasNext}" reRender="sftable,fullPage" styleClass="btn btn-default rndBtn blueBtn m_r5" />
        &nbsp;
        <apex:commandButton value="Last" action="{!Last}" rendered="{!hasNext}" reRender="sftable,fullPage" styleClass="btn btn-default rndBtn blueBtn" />
        </apex:outputPanel>
        
    </apex:pageBlock>
    <script type="text/javascript">
    
    function editDocument(documentId){
        var editDocUrl = '/' + documentId + '/e?retURL=/' + '{!project.id}';
        if (sforce.console.isInConsole()) {
        
            sforce.console.getEnclosingTabId(function(enclosingResult) {
                sforce.console.getEnclosingPrimaryTabId(function(primaryResult) {
                    sforce.console.openSubtab(primaryResult.id, editDocUrl, true, '', null);
                });
            });
        }
        else {
            window.parent.location.href = editDocUrl;
        } 
        return false;
    }
    
   
    
    </script>
</apex:form>


</apex:page>