<!-- CCreated for Decomission asset button by Varun Vasishtha -->
<apex:page standardController="SVMXC__Installed_Product__c" showHeader="false" sidebar="false" extensions="DecomissionAssetExtension">
<script type="text/javascript">
    var isSuccess;
    function refreshParent()
    {
        if(isSuccess == 'true')
        {
            window.opener.parent.location.href = "/{!$CurrentPage.parameters.id}";
            window.close();
        }
    }
</script>
<apex:form >
    <apex:outputPanel id="erroMsg">
        <apex:pageMessages ></apex:pageMessages>
        <script>
            isSuccess = '{!IsSuccess}';
        </script>
    </apex:outputPanel>
    <apex:pageBlock mode="edit">
      <apex:pageBlockSection title="Decomission Asset" columns="2">
        <apex:outputField value="{!assetInstance.SVMXC__Status__c}"/>
        <apex:pageBlockSectionItem >
            <apex:outputLabel for="childAssetPicklist">Inactive Child Asset</apex:outputLabel>
            <apex:selectList id="childAssetPicklist" value="{!ChildAsset}" size="1">
            <apex:selectOptions value="{!items}"/>
            </apex:selectList>
        </apex:pageBlockSectionItem>
        
         <p style="text-align:right">Please click on Save if you want to Decomission this Asset</p>
      </apex:pageBlockSection>
      <apex:pageBlockButtons >
         
        <apex:commandButton action="{!SaveCustom}" value="Save" oncomplete="refreshParent(); return false;" status="myStatus" rerender="erroMsg"/>
      </apex:pageBlockButtons>
    </apex:pageBlock>
    <apex:actionstatus id="myStatus">
            <apex:facet name="start">
            <div class="waitingSearchDiv" style="background-color: #fbfbfb; height: 100%; opacity: 0.65; width: 100%;">
              <div class="waitingHolder" style="top: 50px; width: 91px;">
                <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                <span class="waitingDescription">Loading...</span>
              </div>
            </div>
        </apex:facet>

        </apex:actionstatus>
  </apex:form>
</apex:page>