<apex:page standardController="Opportunity" extensions="DialogBoxPageOpportunityController" action="{!showPopup}" sidebar="false" showHeader="false">
  <style type="text/css">

        .popup
        {
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            width: 320px;
            margin-left: -250px;
            top:80px;
        }

        .popupBg
        {
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 70);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }
        .btnClass{
          float:right;
        }
    </style>
   
    <apex:form >
    
      <apex:outputPanel id="popup">
        
        <apex:outputPanel styleClass="popupBg" layout="block" rendered="{!displayPopUp}"/>
          <apex:outputPanel styleClass="popup" layout="block" rendered="{!displayPopUp}">
          <apex:pagemessages id="err"/>
            <b>{!$Label.Delete_Opportunity_Label}</b>
              <div class="btnClass">
                <br/><apex:commandButton value="Yes" action="{!closePopupYes}" rerender="popup, err"/>
                <apex:commandButton value="No" action="{!closePopup}" rerender="popup"/>
              </div>
          </apex:outputPanel>
       </apex:outputPanel>
    </apex:form>
</apex:page>