<apex:page standardController="Contact" extensions="Endo_ShowSalesRepTerritoryController" doctype="html-5.0" >
<!--<apex:sectionHeader title="Map Call Reports by Accounts"/>
<title>Call Report Map</title> 
-->


  <head>
    <!-- STYLE SHEETS  -->
    <apex:stylesheet value="{!URLFOR ($Resource.jQueryUI, '/css/ui-lightness/jquery-ui-1.9.0.custom.css')}" />
  </head>
  <body>
  <apex:includeScript value="{!URLFOR($Resource.jQueryUI, '/js/jquery-1.8.2.min.js')}"/>  
  <apex:includeScript value="{!URLFOR($Resource.jQueryUI, '/js/jquery-1.8.2.js')}"/>
  <apex:includeScript value="{!URLFOR($Resource.jQueryUI, '/js/jquery-ui-1.9.0.custom.js')}"/>    
  
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false">
  </script>
  
  <style>
    .urlLinks {
      color: blue;
      text-decoration:underline
    }
    
    #map {
      font-family: Arial;
      font-size:12px;
      line-height:normal !important;
      height:200px;        
      padding: 20px;
    }
    
    .roundCornerCss{
      /* outer shadows  (note the rgba is red, green, blue, alpha) */
      -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
      -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
            
      /* rounded corners */
      -webkit-border-radius: 12px;
      -moz-border-radius: 7px; 
      border-radius: 7px;
      
      /* gradients */
      background: -webkit-gradient(linear, left top, left bottom, 
      color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
      background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
    }
    
    #loadingScreen {
      background: url({!URLFOR($Resource.Markers, 'Markers/ajax-loader.gif')}) no-repeat 5px 8px;
      padding-left: 50px;
    }
    
    /* hide the close x on the loading screen */
    .loadingScreenWindow .ui-dialog-titlebar-close {
        display: none;
    }
    </style>
    
  <script type="text/javascript">
  // Global Variables
  var geocoder;
  var map;
  var infowindow = new google.maps.InfoWindow();
  var places = [];
  var title_content = new Array();                    
  var popup_content = new Array();                    
  var address = new Array();
  var address_position = 0;                    
  var timeout = 600;
  var pendingCalls = {};  
  
  var markersArray = [];
  
  $j = $.noConflict(); // No Conflict Custom $j
  
  
  // Initialize
  $j(document).ready(function(){
    regDialogs();
  });
  
  // Load Google Map
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(42.3583, -71.0603); // Boston, MA as Center
    var myOptions = {
      zoom: 5,
      center: latlng,
      mapTypeId: 'roadmap'
    } 
    map = new google.maps.Map(document.getElementById("map"), myOptions);
  }
  
  function regDialogs(){
    $j("#pendDiv").dialog({
      autoOpen: false,
      title: 'Pending Call Reports'
    });
    
    $j("#loadingScreen").dialog({
          autoOpen: false,    // set this to false so we can manually open it
          dialogClass: "loadingScreenWindow",
          closeOnEscape: false,
          draggable: false,
          width: 460,
          minHeight: 50,
          modal: true,
          buttons: {},
          resizable: false,
          open: function() {
              // scrollbar fix for IE
              $j('body').css('overflow','hidden');
          },
          close: function() {
              // reset overflow
              $j('body').css('overflow','auto');
          }
      }); // end of dialog
  }
  
  // Waiting Dialog on Loading
  function waitingDialog() {
    $j("#loadingScreen").html('<p>Please Wait ...</p>');
    $j("#loadingScreen").dialog('option', 'title', 'Loading');
    $j("#loadingScreen").dialog('open');
  }
  
  // Close Waiting Dialog
  function closeWaitingDialog() {
    $j("#loadingScreen").dialog('close');
  }
      
  /*
    Main method that gets the Accounts and Call Records for the Selected Date Range.
  */
  
  function getAccountMap(){
    //alert('called');
    waitingDialog(); // Start Loading
    
    //Endo_ShowSalesRepTerritoryController.returnAccountsforDateRange('test',function(result,event){
    //alert('result' +result.length);
    $j("#messages").empty();
    clearOverlay(); // Remove existing markers if any
    
    //var result = new Array();
    Endo_ShowSalesRepTerritoryController.returnAccountsforDateRange('{!currentContact.Id}',function(result,event){  
      
    if(typeof result == 'undefined'){
      //alert('No records found.');
      $j("#messages").append('<h3 style="color:red;">No Records found.</h3><br/>');
      closeWaitingDialog();
      return false;
    }
    else {
      address = new Array();
      address_position = 0;
      var hasCallRecords = true;
      //alert('ss' + result);
      //alert('ss' + result.length);
      //alert('ss' + result[0]);
      //alert('ss' + result[0].ShippingStreet);
      
      $j.each(result,function(rec){
        //alert('ss' + result[rec].ShippingStreet);
        var name    = '<div><a href="/' + result[rec].Id + '" target="_blank" class="urlLinks">' +  result[rec].Name + '</a>';
        
        
        var addr = result[rec].ShippingStreet  + ',' + result[rec].ShippingCity    + ',' + 
                           result[rec].ShippingState   + ',' + result[rec].ShippingCountry + ',' + 
                           result[rec].ShippingPostalCode; 
              
        //name += '<a href="/001/e" target="_blank" class="urlLinks">Create New Account</a>';
        address.push(addr);
        title_content.push(result[rec].Name);
        popup_content.push(name);
      });
      
      if(address.length > 0){
        //alert('address found');
        addMarker(address_position); // Add the markers based on the Date Range Selected
      }
      else{
        $j("#messages").append('<h3 style="color:red;">No records found.</h3><br/>');
        closeWaitingDialog();
        return false;
      }

    }
    });
  }
      
      /*Open the Dialog with the Call Reports that are not completed.
      
      function openDialog(clicked){
        
        $j("#pendDiv").empty();
      
        var clickedId = clicked.id;
      
        var pendingCS = '';
        
        $j.each(pendingCalls[clickedId],function(c){
          pendingCS += '<a href="/'+pendingCalls[clickedId][c].CallId+'" target="_blank" class="urlLinks">' + pendingCalls[clickedId][c].Call + "</a><br/>";
        });
        
        $j("#pendDiv").append(pendingCS);
        
        $j("#pendDiv").dialog( "open" );
      
      }*/
      
      /* Add Markers Dynamically */
      
      function addMarker(position){
            geocoder.geocode({'address': address[position]}, function(results, status){
                if (status == google.maps.GeocoderStatus.OK) {
                    places[position] = results[0].geometry.location;                                    
                    var marker = new google.maps.Marker({
                        position: places[position],
                        title:title_content[position],
                        icon: getMapIconUrl(position),
                        map: map
                    });
              markersArray.push(marker);
                    google.maps.event.addListener(marker, 'click', function() {
                        if (!infowindow) {
                            infowindow = new google.maps.InfoWindow({maxWidth: 200});
                        }
                        infowindow.setContent(popup_content[position]);
                        infowindow.open(map, marker);
                    });
                    
                    
                }
                else{
                    if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT){
                        setTimeout(function() { addMarker(position); }, (timeout * 3));
                    }
                }
                address_position++;
                if (address_position < address.length){
                    setTimeout(function() { addMarker(address_position); }, (timeout));
                }
                closeWaitingDialog();
               
            });
        }
        
        function clearOverlay(){
        
          for (var i = 0; i < markersArray.length; i++ ) {
          markersArray[i].setMap(null);
        }
        
        }
        
        /*
           Sets the Marker Type/Color based on the Marker if Pending or Complete
        */
        
        function getMapIconUrl(markerNumber){ 
            
            var mapIconUrl = "{!URLFOR($Resource.Markers, 'Markers/PinkPin.png')}";
            
            if(String(popup_content[markerNumber]).indexOf('Pending') !== -1)
               mapIconUrl = "{!URLFOR($Resource.Markers, 'Markers/GreenPin.png')}";
            
            return mapIconUrl;
        }
      
  </script>
  <!-- HTML Content -->
  <!--<div id="inputDiv">
    <select id="selectOption">
      <option value="month">LAST MONTH</option>
      <option value="quarter">LAST QUARTER</option>
      <option value="year">LAST YEAR</option>
      <option value="custom">CUSTOM RANGE</option>
    </select><br/>
    <div id="rangeDiv"></div><br/>
    <input type="button" onclick="getAccountMap();" class="btn" value="Submit"/>
  </div><br/><br/>
  -->
  
  
  <div id="messages"></div><br/>
  
  <div id="map" class="roundCornerCss"></div>
  
  <script>
         initialize();
         getAccountMap();
  </script>

  
  <div id="canvas_div"></div>
  <div id="pendDiv"></div>      
  <div id="loadingScreen"></div>  
  </body>



<script>
//if(markersArray.length > 0){
  setTimeout(function(){map.setCenter(markersArray[0].getPosition());},1000);
//}
</script>

</apex:page>