<apex:page standardController="Product2" extensions="Endo_showEmployeesController">

<!--<apex:SectionHeader title="Test" subTitle="SubTitle" />-->
  
  <apex:pageblock id="pbMain">
  <!--<apex:pageBlockButtons location="top">
  </apex:pageBlockButtons>
  -->
  <apex:PageMessages id="errorMsgs" />
  
  <apex:pageBlockSection collapsible="false" showHeader="false" title="Employees Related to {!currentProduct.ODP_Category__c}" columns="1">
   
   <apex:outputPanel rendered="{!(contactList.size > 0)}"> 
    <apex:pageBlockTable width="100%" value="{!contactList}" var="item">
    
     <apex:column headerValue="Name">
         <apex:outputLink value="/{!item.Id}" target="_top">{!item.Name} </apex:outputLink>    
       </apex:column>
     <apex:column value="{!item.Phone}" />
     <apex:column value="{!item.MobilePhone}" />
     <apex:column value="{!item.Email}" />
     
     <!--<apex:column value="{!item.Role__c}" />
     --><apex:column value="{!item.Department}" />
     <apex:column value="{!item.Title}" />
     <apex:column value="{!item.Product_Line__c}" />
    </apex:pageBlockTable>
   </apex:outputPanel> 
     
     
   <apex:outputPanel rendered="{!(contactList.size == 0)}">
     <apex:outputText style="color:red;" value="no employee record is found." />
   </apex:outputPanel>
 </apex:pageBlockSection>
 </apex:pageblock>
</apex:page>