<apex:page showHeader="{!IF(OR($User.UIThemeDisplayed = 'Theme4t',fromASR),false,true)}" sidebar="false" 
  standardStylesheets="{!IF(OR($User.UIThemeDisplayed = 'Theme4t',fromASR),false,true)}" 
  applyHtmlTag="{!IF($User.UIThemeDisplayed = 'Theme4t', 'false', 'true')}" 
  applyBodyTag="{!IF($User.UIThemeDisplayed = 'Theme4t', 'false', 'true')}" 
  docType="{!IF($User.UIThemeDisplayed = 'Theme4t', 'html-5.0', 'html-4.01-transitional')}"
  controller="ManagerSalesForecastController" action="{!updateForecast}"> 

  <apex:composition template="Template_Main"> 
  
  <apex:define name="head-all">

  <apex:variable var="newUI" value="newSkinOn" rendered="{!$User.UIThemeDisplayed = 'Theme4t'}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css"/>
    <script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
    <style type="text/css">
      body {
        margin: 0px;
      }
      .slds .slds-page-header {
        display: none;
      }
    </style>
  </apex:variable> 
  <apex:variable var="newUI" value="newSkinOn" rendered="{!$User.UIThemeDisplayed != 'Theme4t'}">
      <apex:stylesheet value="{!URLFOR($Resource.desktop)}"/>
      <style>
        .lowerPageBlockSection .pbHeader td{
          width:100% !important;
        }
        .col{
          width:7.5% !important;
        }
        .namecol{
          width:9% !important;
        }
        .colSummary{
          width:10% !important;
        }
        .colSummarytext{
          width:94% !important;
        }
        .expand{
          float: right;
        }
        .colSummaryExpand{
          padding-left: 25px;
        }
        .sfButton{
          background: transparent none repeat scroll 0% 0%;
          border: medium none;
          
        }
        a{ cursor: pointer; cursor: hand; }
          .imgStatus{
               margin-top: 25%;
        }
        .openForecast{
          display: inline;
          background-color: lightgreen;
        } 
      </style>
  </apex:variable>
  
  </apex:define>

  <apex:define name="body">
  
  <apex:form id="forecastBlock" styleClass="forecast">
  <c:WaitingComponent />
  <apex:actionFunction action="{!cancelNew}" name="cancelNewYear" rerender="pgmessages,pb" onComplete="lockScreen(false);"/>
  <apex:actionFunction action="{!setYear}" name="selectYear" rerender="pgmessages,pb,newYearPanel" onComplete="lockScreen(false);"/>
  <apex:actionFunction action="{!createNewForecastYear}" name="createNewYear" rerender="pb, pgmessages,newYearPanel" oncomplete="lockScreen(false);"/>
  <apex:actionFunction action="{!expandList}" name="expandList" rerender="pgmessages,pb" onComplete="lockScreen(false);">
  <apex:param name="param1" value="" assignTo="{!expandManagerUser}"/>
  <apex:param name="param2" value="" assignTo="{!expandManagerMonth}"/>
  <apex:param name="param3" value="" assignTo="{!expandManagerRecord}"/>
  </apex:actionFunction>
  <apex:actionFunction action="{!collapseList}" name="collapseList" rerender="pgmessages,pb" onComplete="lockScreen(false);">
  <apex:param name="param3" value="" assignTo="{!expandManagerRecord}"/>
  </apex:actionFunction>
  <apex:actionFunction action="{!switchView}" name="switchView" rerender="pgmessages,forecastBlock,webpopup" onComplete="lockScreen(false);"/>
  <apex:actionFunction action="{!updateTotal}" name="updateTotal" rerender="pgmessages,pb" onComplete="lockScreen(false);">
  <apex:param name="param1" value="" assignTo="{!currentRecordKey}"/>
  </apex:actionFunction>
  <apex:actionfunction action="{!getUserOpportunityRecords}" name="getUserOpportunityRecords" rerender="pgmessages,OppListBlockPanel" oncomplete="window.scrollTo(0,document.body.scrollHeight);lockScreen(false);">
    <apex:param name="param1" value="" assignTo="{!baseTrailUserId}"/>
    <apex:param name="param2" value="" assignTo="{!baseTrailBU}"/>
    <apex:param name="param3" value="" assignTo="{!baseTrailMonth}"/>
    <apex:param name="param4" value="" assignTo="{!baseTrailYear}"/>
    <apex:param name="param5" value="" assignTo="{!doSort}"/>
  </apex:actionfunction>
  <apex:actionfunction action="{!getUserOpportunityUpsideRecords}" name="getUserOpportunityUpsideRecords" rerender="pgmessages,OppListBlockPanel" oncomplete="window.scrollTo(0,document.body.scrollHeight);lockScreen(false);">
    <apex:param name="param1" value="" assignTo="{!baseTrailUserId}"/>
    <apex:param name="param2" value="" assignTo="{!baseTrailBU}"/>
    <apex:param name="param3" value="" assignTo="{!baseTrailMonth}"/>
    <apex:param name="param4" value="" assignTo="{!baseTrailYear}"/>
    <apex:param name="param5" value="" assignTo="{!doSort}"/>
  </apex:actionfunction>
  <apex:actionfunction action="{!getUserBaseTrailRecords}" name="getUserBaseTrailRecords" rerender="pgmessages,OppListBlockPanel" oncomplete="window.scrollTo(0,document.body.scrollHeight);lockScreen(false);">
    <apex:param name="param1" value="" assignTo="{!baseTrailUserId}"/>
    <apex:param name="param2" value="" assignTo="{!baseTrailBU}"/>
    <apex:param name="param3" value="" assignTo="{!baseTrailMonth}"/>
    <apex:param name="param4" value="" assignTo="{!baseTrailYear}"/>
    <apex:param name="param5" value="" assignTo="{!doSort}"/>
    <apex:param name="param6" value="" assignTo="{!incrementalServiceForecast}"/>
  </apex:actionfunction>
  <apex:actionfunction action="{!getManagerBaseTrailRecords}" name="getManagerBaseTrailRecords" rerender="pgmessages,OppListBlockPanel" oncomplete="window.scrollTo(0,document.body.scrollHeight);lockScreen(false);">
    <apex:param name="param1" value="" assignTo="{!baseTrailUserId}"/>
    <apex:param name="param2" value="" assignTo="{!baseTrailBU}"/>
    <apex:param name="param3" value="" assignTo="{!baseTrailMonth}"/>
    <apex:param name="param4" value="" assignTo="{!baseTrailYear}"/>
    <apex:param name="param5" value="" assignTo="{!doSort}"/>
    <apex:param name="param6" value="" assignTo="{!incrementalServiceForecast}"/>
  </apex:actionfunction>
  <apex:actionfunction action="{!getManagerOpportunityRecords}" name="getManagerOpportunityRecords" rerender="pgmessages,OppListBlockPanel" oncomplete="window.scrollTo(0,document.body.scrollHeight);lockScreen(false);">
    <apex:param name="param1" value="" assignTo="{!baseTrailUserId}"/>
    <apex:param name="param2" value="" assignTo="{!baseTrailBU}"/>
    <apex:param name="param3" value="" assignTo="{!baseTrailMonth}"/>
    <apex:param name="param4" value="" assignTo="{!baseTrailYear}"/>
    <apex:param name="param5" value="" assignTo="{!doSort}"/>
  </apex:actionfunction>
  <apex:actionfunction action="{!getManagerOpportunityUpsideRecords}" name="getManagerOpportunityUpsideRecords" rerender="pgmessages,OppListBlockPanel" oncomplete="window.scrollTo(0,document.body.scrollHeight);lockScreen(false);">
    <apex:param name="param1" value="" assignTo="{!baseTrailUserId}"/>
    <apex:param name="param2" value="" assignTo="{!baseTrailBU}"/>
    <apex:param name="param3" value="" assignTo="{!baseTrailMonth}"/>
    <apex:param name="param4" value="" assignTo="{!baseTrailYear}"/>
    <apex:param name="param5" value="" assignTo="{!doSort}"/>
  </apex:actionfunction>
  <apex:actionFunction action="{!sortData}" name="sortData" rerender="OppListBlockPanel" onComplete="lockScreen(false);">
      <apex:param name="param1" value="" assignTo="{!sortedField}"/>
      <apex:param name="param5" value="" assignTo="{!doSort}"/>
    </apex:actionFunction>
   <apex:actionFunction action="{!switchViewRefresh}" name="switchViewRefresh" onComplete="lockScreen(false);"/>
    <apex:pageMessages id="pgmessages"/>
    <apex:pageBlock title="Select Manager" id="salesOps" rendered="{!isSalesOps}">
      <apex:pageBlockButtons location="top">
        <apex:selectList id="years" value="{!userId}" size="1" onchange="switchView();lockScreen(true);">
                <apex:selectOptions value="{!managerList}"/>
        </apex:selectList>
      </apex:pageBlockButtons>
    </apex:pageBlock>

    <apex:pageBlock title="{!userName} {!forecastYr} Yearly Forecast" id="pb">
      <apex:pageBlockButtons location="top">
        <div class="slds-grid slds-grid--pull-padded slds-wrap iblk slds-m-bottom--small">
          <apex:outputPanel layout="none" rendered="{!$User.UIThemeDisplayed = 'Theme4t'}">
            <div class="slds-col--padded slds-size--1-of-1 iblk slds-m-bottom--small">
              <div class="slds-section__title">{!userName} {!forecastYr} Yearly Forecast</div>
            </div>
          </apex:outputPanel>
          <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-5 iblk slds-p-bottom--small">
            <div class="slds-form-element iblk">
              <div class="slds-form-element__control">
                <div class="slds-select_container">
                  <apex:selectList id="years" value="{!ForecastYR}" size="1" onchange="switchViewRefresh();lockScreen(true);" styleClass="slds-select">
                    <apex:selectOptions value="{!yearOptions}"/>
                  </apex:selectList>
                </div>
              </div>
            </div>
          </div>
          <apex:outputPanel layout="none" rendered="{!!isNew}">
            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--4-of-5 iblk slds-text-align--right">
              <apex:commandButton styleClass="slds-button slds-button--neutral-sm slds-m-bottom--small" value="Show Missing Forecast" onClick="lockScreen(true);" action="{!getMissingForecast}" rerender="pgmessages,pb,missingForecastUserList" rendered="{!AND(OR(CONTAINS(selectedView,'Summary View'),CONTAINS(selectedView,'Current Month View')),NOT(isNew))}" onComplete="lockScreen(false);window.scrollTo(0,document.body.scrollHeight);"/>
              <apex:commandButton styleClass="slds-button slds-button--neutral-sm slds-m-bottom--small" value="Update Forecast" onClick="lockScreen(true);" action="{!updateForecast}" rerender="pgmessages,pb" rendered="{!AND(OR(CONTAINS(selectedView,'Summary View'),CONTAINS(selectedView,'Current Month View')),NOT(isNew))}" onComplete="lockScreen(false);"/>
              <apex:commandButton styleClass="slds-button slds-button--brand slds-m-bottom--small" value="Save" onClick="lockScreen(true);" action="{!save}" rerender="pgmessages,pb" rendered="{!AND(OR(CONTAINS(selectedView,'Summary View'),CONTAINS(selectedView,'Current Month View')),NOT(isNew),NOT(isManagerView))}" onComplete="lockScreen(false);"/>
              <apex:commandButton action="{!backToASR}" value="Back To View as Forecast" id="backTOASR" rendered="{!AND(fromASR,$User.UIThemeDisplayed =='Theme4t')}" styleClass="slds-button slds-button--neutral-sm slds-m-bottom--small"/>
            </div>
          </apex:outputPanel>
          
          <apex:outputPanel rendered="{!isNew}" id="newYearPanel" styleClass="slds-col--padded slds-size--1-of-1 slds-medium-size--3-of-5 slds-grid slds-grid--pull-padded slds-wrap slds-p-bottom--small desk-surg-menu iblk">
            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-5 slds-p-bottom--small iblk">
            <!-- <apex:outputLabel styleClass="slds-form-element__label" value="New Year"/>  -->
            <apex:inputField styleClass="slds-input2" value="{!nfy.Year__c}" rendered="{!isNew}" html-placeholder="Enter a new year"/>
<!--             <apex:outputLabel value="Year's Quota" style="padding-left: 5px; padding-right: 5px;"/> <apex:inputField style="width: 120px;" value="{!nfy.Yearly_Quota__c}" rendered="{!isNew}" /> -->
<!--             <apex:outputLabel value="Annual Historical Base" style="padding-left: 5px; padding-right: 5px;"/> <apex:inputField style="width: 120px;" value="{!nfy.Yearly_Base__c}" rendered="{!isNew}" /> -->
            </div>
            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--3-of-5 iblk slds-text-align--right ">
              <button type="button" class="slds-button slds-button--brand" onclick="createNewYear();lockScreen(true);">Add</button> 
              <button type="button" class="slds-button slds-button--neutral" onclick="cancelNewYear();lockScreen(true);">Cancel</button>
            </div>
          </apex:outputPanel>
          
        </div>

      </apex:pageBlockButtons>
      <apex:outputPanel layout="none" rendered="{!NOT(isNew)}">
      <div class="slds-grid slds-wrap slds-m-bottom--small">
        <div class="slds-box slds-theme--default slds-grid slds-wrap slds-size--1-of-1">
          
          
            <div class="slds-size--1-of-1 slds-medium-size--1-of-3 slds-col--padded iblk slds-p-bottom--small">
              <div class="slds-form-element iblk">
                <label class="label-r slds-form-element__label iblk">Forecast View</label>
                <div class="slds-form-element__control iblk" >
                  <div class="slds-select_container ">
                    <apex:selectList id="years" value="{!selectedView}" size="1" onchange="switchView();lockScreen(true);" styleClass="slds-select">
                      <apex:selectOptions value="{!viewOptions}"/>
                    </apex:selectList>
                  </div>
                </div>
              </div>
            </div>          
            <div class="slds-size--1-of-1 slds-medium-size--1-of-3 slds-col--padded iblk slds-p-bottom--small">
              <div class="slds-form-element iblk">
                <label class="label-l label-r slds-form-element__label iblk">Total Rep Forecasts</label>
                <div class="slds-form-element__control iblk">
                  <apex:outputText styleClass="slds-text-heading--medium" value="{!totalRep}"/>
                </div>
              </div>
            </div> 
            <!-- &nbsp;&nbsp;&nbsp;<b><apex:outputText value="{!totalRep}"/></b> -->
            <!--<button style="margin-left: 15%;" type="button" onclick="unlockAllForecast();lockScreen(true);">Unlock All Forecast</button> -->
        </div>
      </div>
      </apex:outputPanel>
      <apex:outputPanel rendered="{!AND(CONTAINS(selectedView,'Submitted View'),NOT(isNew))}">
      <div class="slds-box slds-theme--default">
        <apex:outputPanel styleClass="slds-float--right slds-p-bottom--x-small" rendered="{!$User.UIThemeDisplayed = 'Theme4t'}">
          <div class="slds-icon slds-icon--x-small slds-icon-text-default slds-show--inline-block">
            <img src="{!URLFOR($Resource.slds, 'assets/icons/utility/info_60.png')}"/>  
          </div>
          <div class="slds-text-body--small slds-show--inline-block slds-p-left--xx-small">Tablular data can be swiped horizontally.</div>
        </apex:outputPanel>
        <div class="table-responsive table-scroll">
          <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-no-row-hover list" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr class="headerRow tr-md">
                        <th class="headerRow">Rep Name</th>
                        <th class="headerRow">January</th>
                        <th class="headerRow">February</th>
                        <th class="headerRow">March</th>
                        <th class="headerRow">April</th>
                        <th class="headerRow">May</th>
                        <th class="headerRow">June</th>
                        <th class="headerRow">July</th>
                        <th class="headerRow">August</th>
                        <th class="headerRow">September</th>
                        <th class="headerRow">October</th>
                        <th class="headerRow">November</th>
                        <th class="headerRow">December</th>
                    </tr>
                </thead>
                <tbody>
                  <apex:repeat value="{!userToWrapper}" var="key">
                  <tr class="tr-md">
                    <apex:repeat value="{!userToWrapper[key]}" var="item">
                    <td class="namecol">
    <!--                  <button class="sfButton" style="cursor: pointer; cursor: hand;display : {!IF(inSF1, '', 'none')}" onclick="sforce.one.navigateToURL('/apex/SalesForecast?ForecastYR={!item.year}&id={!item.userId}&BU={!item.businessUnit}&managerView=true');"><u>{!item.userName}</u></button> -->
                      <a style="cursor: pointer; cursor: hand;display : {!IF(isRM = true, '', 'none')}" href="{!URLFOR('/apex/SalesForecast', null, [ForecastYR=item.year, id=item.userId, BU=item.businessUnit, managerView=true,fromASR=fromASR])}">{!item.userName}</a>
                      <a style="cursor: pointer; cursor: hand;display : {!IF(isRM = true, 'none', '')}" href="{!URLFOR('/apex/ManagerSalesForecast', null, [ForecastYR=item.year, id=item.userId, BU=item.businessUnit, managerView=true,fromASR=fromASR])}">{!item.userName}</a>
                    </td>
                    <td class="col"><b><apex:outputText value="{!item.janMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.febMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.marMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.aprMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.mayMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.juneMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.julyMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.augMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.sepMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.octMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.novMonth}" escape="false"/></b></td>
                    <td class="col"><b><apex:outputText value="{!item.decMonth}" escape="false"/></b></td>
                    </apex:repeat>
                  </tr>
                  </apex:repeat>
                </tbody>
          </table>
        </div>
      </div>
      </apex:outputPanel>

      <apex:outputPanel rendered="{!AND(OR(CONTAINS(selectedView,'Summary View'),CONTAINS(selectedView,'Current Month View')),NOT(isNew))}">
        <div class="slds-box slds-theme--default">
          <apex:outputPanel styleClass="slds-float--right slds-p-bottom--x-small" rendered="{!$User.UIThemeDisplayed = 'Theme4t'}">
            <div class="slds-icon slds-icon--x-small slds-icon-text-default slds-show--inline-block">
              <img src="{!URLFOR($Resource.slds, 'assets/icons/utility/info_60.png')}"/>  
            </div>
            <div class="slds-text-body--small slds-show--inline-block slds-p-left--xx-small">Tablular data can be swiped horizontally.</div>
          </apex:outputPanel>
          <div class="table-responsive table-scroll">
            <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-no-row-hover list" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="headerRow tr-md">
                    <th class="headerRow pop" style="display : {!IF(columns.Month__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Month__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Month__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Quota__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Quota__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Quota__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Historical_Base_Forecast__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Base_Forecast__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Base_Forecast__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Historical_Service__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Historical_Service__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Historical_Service__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Base_Trail_Forecast__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Trail_Forecast_Total__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Trail_Forecast_Total__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Incrememntal_Service_Forecast__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Incrememntal_Service_Forecast__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Incrememntal_Service_Forecast__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Opportunity_Forecast__c = true, '', 'none')}" 
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Capital_Forecast__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Capital_Forecast__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Upside__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Upside__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Upside__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(AND(columns.Bill_Only_Forecast__c = true,isIVSManager), '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Bill_Only_Forecast__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Bill_Only_Forecast__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Manual_Adjustments__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Manual_Adjustments__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Manual_Adjustments__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(AND(columns.Manual_Adjustments__c = true,OR(AND(isVP,NOT(OR(CONTAINS(userDivision,'IVS'),CONTAINS(userDivision,'Navigation')))),isDirector)), '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Director_Manual_Adjustment__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Director_Manual_Adjustment__c.Label}</th>
                    <th class="headerRow pop xl" style="display : {!IF(columns.Total_Forecast__c = true, '', 'none')}" tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Total_Forecast__c.Label}&nbsp;||&nbsp;{!$ObjectType.Monthly_Forecast__c.fields.Open_Forecast__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Total_Forecast__c.Label}&nbsp;||&nbsp;{!$ObjectType.Monthly_Forecast__c.fields.Open_Forecast__c.Label}</th>
                    <th class="headerRow pop" style="display : {!IF(columns.Total_Sales__c = true, '', 'none')}"
                    tabindex="0" data-content="{!$ObjectType.Monthly_Forecast__c.fields.Total_Sales__c.Label}">{!$ObjectType.Monthly_Forecast__c.fields.Total_Sales__c.Label}</th>
                </tr>
            </thead>
            <tbody>
              <apex:repeat value="{!summaryWrapper}" var="key">
                <tr class="tr-md">
                  <apex:repeat value="{!summaryWrapper[key]}" var="item">
                    <td class="colSummary" style="display : {!IF(columns.Month__c = true, '', 'none')}"><b>{!item.month}</b>&nbsp;<a class="expand" style="display:{!IF(item.mfList.size == 0,'','none')}" href="javascript:void(0);" onClick="expandList('{!item.userId}','{!item.month}','{!item.recordId}');lockScreen(true);">Expand</a>
                    <a class="expand" style="display:{!IF(item.mfList.size > 0,'','none')}" href="javascript:void(0);" onClick="collapseList('{!item.recordId}');lockScreen(true);">Collapse</a>
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Quota__c = true, '', 'none')}">{!item.quota}</td>
                    <td class="colSummary" style="display : {!IF(columns.Historical_Base_Forecast__c = true, '', 'none')}">{!item.historicalBaseForecast}</td>
                    <td class="colSummary" style="display : {!IF(columns.Historical_Service__c = true, '', 'none')}">{!item.historicalServiceForecast}</td>
                    <td class="colSummary" style="display : {!IF(columns.Base_Trail_Forecast__c = true, '', 'none')}">
                      <a href="javascript:void(0)" onclick="getManagerBaseTrailRecords('{!item.userId}','{!item.mf.Business_Unit__c}','{!item.month}','{!item.mf.Year__c}',false, true);lockScreen(true);"><apex:outputLabel value="{!item.baseTrialForecast}"/></a>
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Incrememntal_Service_Forecast__c = true, '', 'none')}">
                    <a href="javascript:void(0)" onclick="getManagerBaseTrailRecords('{!item.userId}','{!item.mf.Business_Unit__c}','{!item.month}','{!item.mf.Year__c}',false, false);lockScreen(true);"><apex:outputLabel value="{!item.incrementalServiceForecast}"/></a>
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Opportunity_Forecast__c = true, '', 'none')}">
                      <a href="javascript:void(0)" onclick="getManagerOpportunityRecords('{!item.userId}','{!item.mf.Business_Unit__c}','{!item.month}','{!item.mf.Year__c}',false);lockScreen(true);"><apex:outputLabel value="{!item.opportunityForecast}"/></a>
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Upside__c = true, '', 'none')}">
                      <a href="javascript:void(0)" onclick="getManagerOpportunityUpsideRecords('{!item.userId}','{!item.mf.Business_Unit__c}','{!item.month}','{!item.mf.Year__c}',false);lockScreen(true);"><apex:outputLabel value="{!item.opportunityForecastUpside}"/></a>
                    </td>
                    <td class="colSummary" style="display : {!IF(AND(columns.Bill_Only_Forecast__c = true,isIVSManager), '', 'none')}">{!item.totalBillOnlyForecast}</td>
                    <td class="colSummary" style="display : {!IF(columns.Manual_Adjustments__c = true, '', 'none')}">{!IF(AND(!isManagerView,!isDirector,!isVP,!isSalesOps), '$','')}
                      <apex:outputPanel rendered="{!!isSalesOps}">
                        <apex:inputField value="{!item.mf.Manual_Adjustments__c}" rendered="{!AND(!isManagerView,!isDirector,!isVP)}" onChange="updateTotal('{!item.mf.Id}');lockScreen(true);" styleClass="slds-input"/>
                        <apex:outputField value="{!item.mf.Manual_Adjustments__c}" rendered="{!OR(isManagerView,isDirector,isVP)}"/>
                      </apex:outputPanel>
                    </td>
                    <td class="colSummary" style="display : {!IF(AND(columns.Manual_Adjustments__c = true,OR(AND(isVP,NOT(OR(CONTAINS(userDivision,'IVS'),CONTAINS(userDivision,'Navigation')))),isDirector)), '', 'none')}">{!IF(AND(!isManagerView,OR(AND(isVP,OR(CONTAINS(userDivision,'IVS'),CONTAINS(userDivision,'Navigation'))),isDirector)), '$','')}
                      <apex:outputPanel rendered="{!!isSalesOps}">
                        <apex:inputField value="{!item.mf.Director_Manual_Adjustment__c}" rendered="{!AND(!isManagerView,isDirector)}" onChange="updateTotal('{!item.mf.Id}');lockScreen(true);" styleClass="slds-input"/>
                        <apex:outputField value="{!item.mf.Director_Manual_Adjustment__c}" rendered="{!OR(isManagerView,AND(isVP,NOT(OR(CONTAINS(userDivision,'IVS'),CONTAINS(userDivision,'Navigation')))))}"/>
                      </apex:outputPanel>
                    </td>
                    <td class="colSummary xl" style="display : {!IF(columns.Total_Forecast__c = true, '', 'none')}">{!item.totalForecast}&nbsp;||&nbsp;<div class="openForecast">{!item.totalOpenForecast}</div></td>
                    <td class="colSummary" style="display : {!IF(columns.Total_Sales__c = true, '', 'none')}">{!item.totalSales}</td>
                  </apex:repeat>
                </tr>
                <apex:repeat value="{!summaryWrapper[key]}" var="item">
                  <apex:repeat value="{!item.mfList}" var="mf">
                    <tr class="tr-md">
                    <td class="colSummary" style="display : {!IF(columns.Month__c = true, '', 'none')}">
  <!--                    <button class="sfButton" style="cursor: pointer; cursor: hand;display : {!IF(inSF1, '', 'none')}" onclick="sforce.one.navigateToURL('/apex/SalesForecast?ForecastYR={!mf.year}&id={!mf.userId}&BU={!mf.businessUnit}&managerView=true');"><u>{!mf.userName}</u></button> -->
                      <a style="display : {!IF(isRM = true, '', 'none')}" class="colSummaryExpand" href="{!URLFOR('/apex/SalesForecast', null, [ForecastYR=mf.year, id=mf.userId, BU=mf.businessUnit, managerView=true,fromASR=fromASR])}">{!mf.userName}</a>
                      <a style="display : {!IF(isRM = true, 'none', '')}" class="colSummaryExpand" href="{!URLFOR('/apex/ManagerSalesForecast', null, [ForecastYR=mf.year, id=mf.userId, BU=mf.businessUnit, managerView=true,fromASR=fromASR])}">{!mf.userName}</a></td>
                    <td class="colSummary" style="display : {!IF(columns.Quota__c = true, '', 'none')}">{!mf.quota}</td>
                    <td class="colSummary" style="display : {!IF(columns.Historical_Base_Forecast__c = true, '', 'none')}">{!mf.historicalBaseForecast}
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Historical_Service__c = true, '', 'none')}">{!mf.historicalServiceForecast}
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Base_Trail_Forecast__c = true, '', 'none')}">
                      <a href="javascript:void(0)" onclick="getUserBaseTrailRecords('{!mf.userId}','{!mf.businessUnit}','{!mf.month}','{!mf.year}',false, true);lockScreen(true);"><apex:outputLabel value="{!mf.baseTrialForecast}"/></a>
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Incrememntal_Service_Forecast__c = true, '', 'none')}">
                      <a href="javascript:void(0)" onclick="getUserBaseTrailRecords('{!mf.userId}','{!mf.businessUnit}','{!mf.month}','{!mf.year}',false, false);lockScreen(true);"><apex:outputLabel value="{!mf.incrementalServiceForecast}"/></a>
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Opportunity_Forecast__c = true, '', 'none')}">
                      <a href="javascript:void(0)" onclick="getUserOpportunityRecords('{!mf.userId}','{!mf.businessUnit}','{!mf.month}','{!mf.year}',false);lockScreen(true);"><apex:outputLabel value="{!mf.opportunityForecast}"/></a>
                    </td>
                    <td class="colSummary" style="display : {!IF(columns.Opportunity_Forecast__c = true, '', 'none')}">
                      <a href="javascript:void(0)" onclick="getUserOpportunityUpsideRecords('{!mf.userId}','{!mf.businessUnit}','{!mf.month}','{!mf.year}',false);lockScreen(true);"><apex:outputLabel value="{!mf.opportunityForecastUpside}"/></a>
                    </td>
                    <td class="colSummary" style="display : {!IF(AND(columns.Bill_Only_Forecast__c = true,isIVSManager), '', 'none')}">{!mf.billOnlyForecast}</td>
                    <td class="colSummary" style="display : {!IF(columns.Manual_Adjustments__c = true, '', 'none')}">{!IF(isRM,'-',mf.manualAdjustment)}</td>
                    <td class="colSummary" style="display : {!IF(AND(columns.Manual_Adjustments__c = true,OR(AND(isVP,NOT(OR(CONTAINS(userDivision,'IVS'),CONTAINS(userDivision,'Navigation')))),isDirector)), '', 'none')}">{!IF(OR(isDirector,isVP),mf.directorManualAdjustment,'-')}</td>
                    <td class="colSummary xl" style="display : {!IF(columns.Total_Forecast__c = true, '', 'none')}">{!mf.totalForecast}&nbsp;||&nbsp;<div class="openForecast">{!mf.totalOpenForecast}</div></td>
                    <td class="colSummary" style="display : {!IF(columns.Total_Sales__c = true, '', 'none')}">{!mf.totalSales}</td>
                    </tr>
                  </apex:repeat>
                </apex:repeat>
              </apex:repeat>
  <!--             </table> -->
  <!--             <table class="list" border="0" cellpadding="0" cellspacing="0"> -->
              <tr class="tr-md" style="background: rgb(216, 208, 208) none repeat scroll 0% 0%;">
                <td class="colSummary"><b>Totals</b></td>
                <td class="colSummary" style="display : {!IF(columns.Quota__c = true, '', 'none')}"><b>{!totalForecastQuota}</b></td>
                <td class="colSummary" style="display : {!IF(columns.Historical_Base_Forecast__c = true, '', 'none')}"><b>{!totalHistoricalBaseForecast}</b></td>
                <td class="colSummary" style="display : {!IF(columns.Historical_Service__c = true, '', 'none')}"><b>{!totalServiceBaseForecast}</b></td>
                <td class="colSummary" style="display : {!IF(columns.Base_Trail_Forecast__c = true, '', 'none')}"><b>{!totalBaseTrailForecast}</b></td>
                <td class="colSummary" style="display : {!IF(columns.Incrememntal_Service_Forecast__c = true, '', 'none')}"><b>{!totalIncrementalService}</b></td>
                <td class="colSummary" style="display : {!IF(columns.Opportunity_Forecast__c = true, '', 'none')}"><b>{!totalTotalOpportunityForecast}</b></td>
                <td class="colSummary" style="display : {!IF(columns.Opportunity_Forecast__c = true, '', 'none')}"><b>{!totalTotalOpportunityForecastUpside}</b></td>
                <td class="colSummary" style="display : {!IF(AND(columns.Bill_Only_Forecast__c = true,isIVSManager = true), '', 'none')}"><b>{!totalBillOnlyForecast}</b></td>
                <td class="colSummary" style="display : {!IF(columns.Manual_Adjustments__c = true, '', 'none')}"><b>{!totalManualAdjustment}</b></td>
                <td class="colSummary" style="display : {!IF(AND(columns.Manual_Adjustments__c = true,OR(AND(isVP,NOT(OR(CONTAINS(userDivision,'IVS'),CONTAINS(userDivision,'Navigation')))),isDirector)), '', 'none')}"><b>{!totalDirectorManualAdjustment}</b></td>
                <td class="colSummary xl" style="display : {!IF(columns.Total_Forecast__c = true, '', 'none')}">
                  <div class="pop" tabindex="0" data-content="{!totalTotalForecast}&nbsp;||&nbsp;{!totalTotalOpenForecast}"><b>{!totalTotalForecast}&nbsp;||&nbsp;<div class="openForecast" style="display: initial;">{!totalTotalOpenForecast}</div></b></div>
                </td>
                <td class="colSummary" style="display : {!IF(columns.Total_Sales__c = true, '', 'none')}"><b>{!totalTotalSales}</b></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br/><br/>
      <!-- desktop -->
      <apex:outputPanel layout="none" rendered="{!IF($User.UIThemeDisplayed = 'Theme4t', false, true)}">  
        <apex:pageBlock title="Road to Quota">
          <table class="list" border="0" cellpadding="0" cellspacing="0" style="width: 75%;">
            <tr>
              <td><b><apex:outputLabel value="Yearly Quota"/></b></td><td><apex:outputLabel value="{!totalQuota}"/></td>
              <td><b><apex:outputLabel value="Total Historical Base Forecast"/></b></td><td><apex:outputLabel value="{!totalHistoricalBaseForecast}"/></td>
              <td><b><apex:outputLabel value="Total Historical Service Forecast"/></b></td><td><apex:outputLabel value="{!totalServiceBaseForecast}"/></td>
            </tr>
            <tr>
              <td><b><apex:outputLabel value="Total Sales"/></b></td><td><apex:outputLabel value="{!totalSales}"/></td>
              <td><b><apex:outputLabel value="Total Incremental Base Forecast"/></b></td><td><apex:outputLabel value="{!totalBaseTrailForecast}"/></td>
              <td><b><apex:outputLabel value="Total Forecast"/></b></td><td><apex:outputLabel value="{!totalTotalForecast}"/></td>
              
            </tr>
            <tr>
              <td><b><apex:outputLabel value="Sales Still Needed"/></b></td><td><apex:outputLabel value="{!salesStillNeeded}"/></td>
              <td><b><apex:outputLabel value="Total Base Forecast"/></b></td><td><apex:outputLabel value="{!baseForecastTotal}"/></td>
              <td><b><apex:outputLabel value="Total Forecast (No Upside)"/></b></td><td><apex:outputLabel value="{!totalTotalForecastNoUpside}"/></td>
            </tr>
            <tr>
              <td><b><apex:outputLabel value="Total Open Forecast"/></b></td><td><div class="openForecast"><apex:outputLabel value="{!totalTotalOpenForecast}"/></div></td>
               <td><b><apex:outputLabel value="Total Incremental Service Forecast"/></b></td><td><apex:outputLabel value="{!totalIncrementalService}"/></td>
            </tr><tr>
              <td><b><apex:outputLabel value="Forecast Still Needed"/></b></td><td><apex:outputLabel value="{!forecastStillNeeded}"/></td>
              <td><b><apex:outputLabel value="Total Opportunity Forecast"/></b></td><td><apex:outputLabel value="{!totalOpportunityForecast}"/></td>
            </tr>
          </table>
        </apex:pageBlock>
      </apex:outputPanel>
      <!-- sf1 -->
      <apex:outputPanel layout="none" rendered="{!IF($User.UIThemeDisplayed = 'Theme4t', true, false)}">
      <h1 class="slds-page-header__title slds-truncate slds-p-bottom--small" title="Road to Quota">Road to Quota</h1>
      <div class="slds-box slds-theme--default slds-m-bottom--large">
        <div class="slds-grid slds-wrap slds-grid--pull-padded">

          <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Yearly Quota"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalQuota}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Sales"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalSales}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Sales Still Needed"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!salesStillNeeded}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Open Forecast"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel styleClass="openForecast" value="{!totalTotalOpenForecast}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Forecast Still Needed"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!forecastStillNeeded}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Forecast"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalTotalForecast}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- col 2 -->
          <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Historical Base Forecast"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalHistoricalBaseForecast}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Historical Service Forecast"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalServiceBaseForecast}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Incremental Base Forecast"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalBaseTrailForecast}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Base Forecast"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!baseForecastTotal}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
             <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Incremental Service Forecast"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalIncrementalService}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Opportunity Forecast"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalOpportunityForecast}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- col 3 -->
          <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
            <div class="slds-size--1-of-1 slds-has-divider--bottom-space">
              <ul class="slds-has-dividers--around-space">
                <li class="slds-item">
                  <div class="slds-tile slds-tile--board">
                    <p class="slds-truncate"><apex:outputLabel value="Total Forecast (No Upside)"/></p>
                    <div class="slds-tile__detail slds-text-body--small">
                      <p class="slds-text-heading--small">
                        <apex:outputLabel value="{!totalTotalForecastNoUpside}"/>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
      </apex:outputPanel>
      
<!--            <table> -->
<!--              <tr><td><apex:outputLabel value="Yearly Quota"/></td><td><apex:outputLabel value="{!totalQuota}"/></td></tr> -->
<!--             <tr><td><apex:outputLabel value="Total Sales"/></td><td><apex:outputLabel value="{!totalSales}"/></td></tr> -->
<!--             <tr><td><apex:outputLabel value="Sales Still Needed"/></td><td><apex:outputLabel value="{!salesStillNeeded}"/></td></tr> -->
<!--             <tr><td><apex:outputLabel value="Total Base Forecast"/></td><td><apex:outputLabel value="{!baseForecastTotal}"/></td></tr> -->
<!--             <tr><td><apex:outputLabel value="Total Opportunity Forecast"/></td><td><apex:outputLabel value="{!totalOpportunityForecast}"/></td></tr> -->
<!--             <tr><td><apex:outputLabel value="Forecast Still Needed"/></td><td><apex:outputLabel value="{!forecastStillNeeded}"/></td></tr> -->
<!--         </table> -->
      </apex:outputPanel>
    </apex:pageBlock>
   <div class="lowerPageBlockSection">
    <apex:outputPanel id="OppListBlockPanel">
      <apex:pageBlock title="{!oppTitle}" id="OppListBlock" rendered="{!IF((oppList.size > 0), true, false )}">
        <apex:outputPanel layout="none" rendered="{!IF($User.UIThemeDisplayed = 'Theme4t', true, false)}">
          <h1 class="slds-page-header__title slds-truncate slds-p-bottom--small" title="{!oppTitle}">{!oppTitle}</h1> 
        </apex:outputPanel>

        <div class="slds-box slds-theme--default slds-m-bottom--xx-large">
          <apex:outputPanel styleClass="slds-float--right slds-p-bottom--x-small" rendered="{!$User.UIThemeDisplayed = 'Theme4t'}">
            <div class="slds-icon slds-icon--x-small slds-icon-text-default slds-show--inline-block">
              <img src="{!URLFOR($Resource.slds, 'assets/icons/utility/info_60.png')}"/>  
            </div>
            <div class="slds-text-body--small slds-show--inline-block slds-p-left--xx-small pop" tabindex="0" data-content="hello">Tablular data can be swiped horizontally.</div>
          </apex:outputPanel>

          <!-- desktop 3rd section table -->
          <apex:outputPanel layout="none" rendered="{!$User.UIThemeDisplayed != 'Theme4t'}">
        
         <apex:pageBlockTable value="{!oppList}" var="rec">
         <apex:repeat value="{!opportunityFieldsui}" var="FieldLable">
          <apex:column rendered="{!IF(FieldLable == 'Name' , true, false)}">
            <apex:facet name="header">
              <apex:outputPanel ><apex:outputLabel style="cursor: pointer; cursor: hand;" value="{!FieldLable}" onclick="sortData('{!FieldLable}',true);lockScreen(true);"/><img class="{!IF(sortedField = FieldLable,IF(isAsc = true,'sortAsc','sortDesc'),'')}" src="/s.gif" /></apex:outputPanel>
            </apex:facet>
             <a href="/{!rec.id}" target="_blank" style="display :{!IF(fromASR,'','none')};"><apex:outputText value="{!rec[FieldLable]}"/></a>
             <apex:outputLink value="/{!rec.id}" target="_blank"><apex:outputText value="{!rec[FieldLable]}" rendered="{!!fromASR}"/></apex:outputLink>
          </apex:column>
          <apex:column rendered="{!IF(FieldLable == 'Name' , false, true)}">
            <apex:facet name="header">
              <apex:outputPanel ><apex:outputLabel style="cursor: pointer; cursor: hand;" value="{!opportunityFieldToLabelMap[FieldLable]}" onclick="sortData('{!FieldLable}',true);lockScreen(true);"/><img class="{!IF(sortedField = FieldLable,IF(isAsc = true,'sortAsc','sortDesc'),'')}" src="/s.gif" /></apex:outputPanel>
            </apex:facet>
              <apex:outputField styleClass="oppList" value="{!rec[FieldLable]}"/>
          </apex:column>
         </apex:repeat>
         </apex:pageBlockTable>
         </apex:outputPanel><!-- /desktop 3rd section table -->
          <!-- sf 3rd section table -->
          <apex:outputPanel layout="none" rendered="{!$User.UIThemeDisplayed = 'Theme4t'}">
            <div class="table-responsive table-scroll">
              <apex:pageBlockTable value="{!oppList}" var="rec" styleClass="slds-table slds-table--bordered slds-table--cell-buffer slds-no-row-hover">
               <apex:repeat value="{!opportunityFieldsui}" var="FieldLable">
                <apex:column rendered="{!IF(FieldLable == 'Name' , true, false)}" headerClass="lg" styleClass="lg">
                  <apex:facet name="header">
                    <div class="slds-truncate"><label>{!FieldLable}</label></div>
                  </apex:facet>
                  <div class="slds-truncate">
                   <apex:outputLink value="/{!rec.id}"><apex:outputText value="{!rec[FieldLable]}" rendered="{!fromASR}"/></apex:outputLink>
                   <apex:outputLink value="/{!rec.id}" target="_blank"><apex:outputText value="{!rec[FieldLable]}" rendered="{!!fromASR}"/></apex:outputLink>
                  </div>
                </apex:column>
                <apex:column rendered="{!IF(FieldLable == 'Name' , false, true)}" headerClass="lg" styleClass="lg">
                  <apex:facet name="header">
                    <div class="slds-truncate"><label>{!opportunityFieldToLabelMap[FieldLable]}</label></div>
                  </apex:facet>
                  <div class="slds-truncate pop" tabindex="0" data-content="{!rec[FieldLable]}">
                    <apex:outputField value="{!rec[FieldLable]}"/>
                  </div>
                </apex:column>
               </apex:repeat>
               </apex:pageBlockTable>
            </div>
          </apex:outputPanel><!-- /sf 3rd section table -->
         </div>
         <apex:panelGrid columns="6" rendered="{!IF(noOfRecords > size,true,false)}">
         <apex:commandButton status="fetchStatus" value="|<" action="{!first}" disabled="{!!hasPrevious}" title="First Page" reRender="OppListBlockPanel"/>
         <apex:commandButton status="fetchStatus" reRender="OppListBlockPanel" value="<" action="{!previous}" disabled="{!!hasPrevious}" title="Previous Page"/>
         <apex:commandButton status="fetchStatus" reRender="OppListBlockPanel" value=">" action="{!next}" disabled="{!!hasNext}" title="Next Page"/>
         <apex:commandButton status="fetchStatus" reRender="OppListBlockPanel" value=">|" action="{!last}" disabled="{!!hasNext}" title="Last Page"/>
         <apex:outputText >{!(pageNumber * size)+1-size}-{!IF((pageNumber * size)>noOfRecords, noOfRecords,(pageNumber * size))} of {!noOfRecords}</apex:outputText>
         <apex:outputPanel style="color:#4AA02C;font-weight:bold">
         <apex:actionStatus id="fetchStatus" startText="Fetching..." stopText=""/>
         </apex:outputPanel>
        </apex:panelGrid>
      </apex:pageBlock>

    </apex:outputPanel>
  </div>
  <apex:outputPanel id="missingForecastUserList">
  <apex:pageBlock title="Missing Forecast" id="missingForecastBlock" rendered="{!IF((missingForecastUserList.size > 0), true, false )}">
    <apex:pageBlockTable value="{!missingForecastUserList}" var="rec">
      <apex:column >
        <apex:facet name="header">
          <apex:outputText value="Name"/>
        </apex:facet>
          <apex:outputLink value="{!URLFOR($Action.User.View,rec.Id)}" target="_blank">{!rec.Name}</apex:outputLink>
      </apex:column>
    </apex:pageBlockTable>
    </apex:pageBlock>
  </apex:outputPanel>
  </apex:form>
  </apex:define>
  <apex:define name="footer">
  <apex:outputPanel id="webpopup">
    <script type="text/javascript">
      $('a.pop,div.pop,td.pop,th.pop').webuiPopover();
    </script>
	</apex:outputPanel>
    <script>
    function openRep(url){
      alert("iIn OpenRep: "+ url);
      sforce.one.navigateToURL(url);
    }
    </script>
  </apex:define>
  </apex:composition>
</apex:page>