<apex:page controller="FIMSTrainingExt" >
    <head>    
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
        <apex:stylesheet value="{!URLFOR($Resource.FIMSTraining, 'css/style.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.FIMSTraining, 'vendor/tipr/tipr.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.FIMSTraining, 'vendor/jquery.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.FIMSTraining, 'vendor/tipr/tipr.min.js')}" />
    </head>
      <body class="slds">
        <div class="cse-header"></div>
        <div class="cse-content">
          <div class="cse-title">
            <div class="cse-title_left">
              <img class="cse-title_object" src="{!URLFOR($Resource.FIMSTraining, 'images/icon.png')}" /></div>
            <div class="cse-title_body">
              <h1>{!UserNamesCoursesTitle}</h1>
            </div>
          </div>
          <table class="cse-table">
            <tr>
              <th>{!$Label.scormanywhere__Title}</th>
              <th>{!$Label.scormanywhere__Status}</th>
              <th>{!$Label.scormanywhere__Total_Time}</th>
              <th>{!$Label.scormanywhere__Action}</th>
            </tr>
            <apex:repeat value="{!transcriptWrappers}" var="t" >
                <tr>
                  <td><span class="{!IF(t.hasDescription, 'tip', '')}" data-tip="{!t.description}">{!t.title}</span></td>
                  <td>{!t.status}</td>
                  <td>{!t.totalTime}</td>
                  <td><button class="cse-btn" onclick="window.open('{!JSENCODE($Page.scormanywhere__SCORM_Player)}?courseId={!JSENCODE(t.action)}&inline=1', '', 'location=1,resizable=1,status=1,scrollbars=1,toolbar=1');" >{!$Label.scormanywhere__Launch}</button></td>
                </tr>
            </apex:repeat>
            <tr>
              <td colspan="4"></td>
            </tr>                        
          </table>
        </div>
      </body>
        <script type="text/javascript">
            $(document).ready(function() {
                 $('.tip').tipr();
            });
        </script>
      
</apex:page>