<apex:page standardController="Product2" showheader="false" sidebar="false">
	<c:IntelListComponent RecordId="{!Product2.id}"></c:IntelListComponent>  
<!--  <apex:form >-->
<!--    -->
<!--    <apex:actionFunction action="{!saveFlag}" name="saveFlag" reRender="outerPanel" status="status">-->
<!--        <apex:param name="intelId" value="" assignTo="{!intelId}"/> -->
<!--        <apex:param name="commentBody" value="" assignTo="{!commentBody}"/>-->
<!--    </apex:actionFunction>-->
<!--    -->
<!--    <apex:actionFunction action="{!saveReply}" name="saveReply" reRender="outerPanel" status="status">-->
<!--        <apex:param name="chatterPostId" value="" assignTo="{!chatterPostId}"/>-->
<!--        <apex:param name="commentBody" value="" assignTo="{!commentBody}"/>-->
<!--    </apex:actionFunction>-->
<!--    -->
<!--     <apex:outputpanel >-->
<!--        <apex:actionstatus id="status">-->
<!--            <apex:facet name="start">-->
<!--                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;-->
<!--                    height: 100%;opacity:0.65;width:100%;">-->
<!--                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">-->
<!--                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />-->
<!--                        <span class="waitingDescription">Please Wait...</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </apex:facet>-->
<!--        </apex:actionstatus>-->
<!--    </apex:outputpanel>-->
<!--    -->
<!--    <apex:outputpanel id="outerPanel">-->
<!--    <table>-->
<!--        <apex:repeat value="{!lstIntel}" var="intel" id="intelWrapperRepeat">-->
<!--        <tr>-->
<!--            <td>-->
<!--                <apex:outputText value="{!intel.detail}" id="theIntel"/><br/>-->
<!--            </td>-->
<!--            <td>-->
<!--                <img src="/img/icon/flag16.png" alt="Click To Insert Flag" onClick="saveFlag('{!intel.Id}', document.getElementById('feedItem'+'{!intel.Id}').value);"/>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr><td style="height: 4px"></td></tr>     -->
<!--        <apex:repeat value="{!intel.lstFeedComment}" var="intelFeedComment" id="intelWrapperRepeat">-->
<!--        <tr>-->
<!--            <td>-->
<!--                <apex:outputText value="{!intelFeedComment.reply.CommentBody}" id="thefeedComment" styleClass="feedComment{!intelFeedComment.reply.Id}"/><br/>-->
<!--            </td>-->
<!--            <td>-->
<!--                 <img src="/img/icon/flag16.png" alt="Click To Insert Flag" onClick="saveFlag('{!intel.Id}', '{!intelFeedComment.reply.CommentBody}');"/> -->
<!--            </td>-->
<!--        </tr>       -->
<!--        </apex:repeat>-->
<!--        <tr>-->
<!--            <td colspan="2">-->
<!--                <input type="text" value="" id="comment{!intel.Id}" />-->
<!--                <input type="button" onClick="saveReply('{!intel.chatterPostId}', document.getElementById('comment'+'{!intel.Id}').value);" value="Reply"/>-->
<!--            </td>-->
<!--        </tr> -->
<!--        <tr><td style="height: 4px"></td></tr>       -->
<!--        </apex:repeat>-->
<!--        -->
<!--    </table>-->
<!--    </apex:outputpanel>-->
<!--    </apex:form>-->
    
</apex:page>