<apex:page standardController="Opportunity"  extensions="CheckPODocument" action="{!CheckPODocumentUpdate}">
  <script>
    var oppid = "{!$CurrentPage.parameters.id}";
    if({!POdoc} == true) {
      alert('You must upload a Purchase Order document before Submitting for Approval!');
    }
    sforce.one.navigateToSObject(oppid);
  </script>
</apex:page>