.THIS.slds .slds-tabs--default__nav a:hover, .THIS.slds .slds-tabs--default__nav a:focus{
    border-bottom: 2px solid transparent;
}

.THIS.slds .slds-tabs--default__nav .slds-active a:hover, .THIS.slds .slds-tabs--default__nav .slds-active a:focus{
   	border-bottom: 2px solid #54698d;
}

.THIS .active, .THIS .btn:hover{
    border-color: #4293D9 !important;
    background-color: #4293D9 !important;
    /*background-color: #16325c !important;
    border-color: #D8DDE6 !important;*/
    color: #FFF !important;
}

.THIS .sldx-overlay{
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.50);
    top: 0;
    z-index:999;
}

.THIS li.slds-tabs__item.slds-text-heading--label{
    width:50%;
    text-align: center;
}
.THIS .unfollowAll{
    background-color: #c00;
    border: solid 3px #c00;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-top: -15px;
}
.THIS .unfollowAll.disabled{
    background-color: #666;
    border-color: #666;
    color: #CCC;
}
.THIS .slds-modal__content{
    padding: 15px;
}