.THIS ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #69C;
}

.THIS .header{
    padding: 15px;
    padding-bottom: 5px;
    color: #333;
    border-bottom: solid 1px #ccc;
}

.THIS .header h3{
    font-size:18px;
    font-weight: 500;
}

.THIS .header p{
    font-size: 15px;
}

.THIS .header .resultLabel{
    font-size: 14px;
    color: #666;
}

.THIS .header .clear-button{
    width: 50px;
    text-align: center;
    padding: 10px 5px;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 5px;
    float: right;
}

.THIS .header .option-info{
    padding-bottom: 10px;
}

.THIS .searchBox {
    position: relative;
    font-size: 16px;
    color:#818181;
    margin: 15px 0;
}

.THIS .searchBox input{
    color: #000;
}

.THIS .searchBox .fa-search{
    position: absolute;
    top: 10px;
    right: 10px;
}
/*Connor Flynn S-398540 Start*/
.THIS  .searchBox .with-x {
    width: 85%;
    border-right-width: 0px;
    border-right-color: #FFFFFF;
    border-radius: 0.25em 0 0 0.25em;
    border-color: rgb(216, 221, 230);
    padding-right: 0px;
}
.THIS .searchBox .fa-x{
    border-top-color: rgb(216, 221, 230);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(216, 221, 230);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(216, 221, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #FFFFFF;
    border-left-style: solid;
    border-left-width: 0px;
    background-color: #FFFFFF; 
    display: inline; 
    padding: 7px 7px 7px 0px;
    border-radius: 0 0.25rem 0.25rem 0;
}
.THIS .icon-utility-clear {
    fill: #D3D3D3;
    padding: 5px;
}
/*Connor Flynn S-398540 End*/
.THIS span.no-results {
    width: 100%;
    padding: 15px;
    background-color: white;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.THIS.order-footer{
    display: block;
    width: 100%;
    height: 55px;
    background-color: #6699CC;
    position:fixed;
    bottom:0;
    left:0;
    z-index:999;
    border-top: solid 1px #E1E4E8;
    padding-left: 5%;
    padding-right:5%;
}

.THIS.order-footer .button{
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 125px;
    border-radius: 5px;
    border: solid 1px #CCC;
    text-align: center;
    color:#666;
    float:left;
}
.THIS.order-footer .button.button-right{
    float: right;
    color: #69C;
}
.THIS.order-footer .footer-button .slds-icon-action-description{
    background-color: #FD90B5;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: inline-block;
}
.THIS.order-footer .footer-button .slds-icon-action-description.sort-button{
    background-color: #FAB9A5;
}
.THIS.order-footer .footer-button .slds-icon-action-description.range-button{
    background-color: #65CAE4;
}
.THIS svg.slds-icon.slds-icon--small{
    height: 16px;
    width: 16px;
    margin-left: -4px;
    margin-top: -10px;
}
.THIS .range-button svg.slds-icon.slds-icon--small{
    margin-top:-14px;
}
.THIS .footer-button-description{
    vertical-align: middle;
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.THIS .footer-button{
    margin-top: 15px;
    display: inline-block;
    margin-left: 0;
    margin-right: 12.5%;
}
.THIS .footer-button.sort{
    float: left;
    margin-right: 0;
}
.THIS .uiMenuList.visible.sort{
    width: 180px;
    bottom: 32px;
}
.THIS .uiMenuList.visible .uiMenuItem{
    padding: 10px 15px;
    text-align: center;
}
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem{
    text-align: left;
}

.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a b{
    margin-right: 10px;
}
/*.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a.selected b{
    background: none;
}
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a b:after{
    content:"X";
}*/
.THIS .uiMenuList.visible .uiMenuItem.uiCheckboxMenuItem a.selected b:after{
    content:"";
}
.THIS.modalWrapper{
    background-color: #97A3AD;
}
.THIS.modalWrapper .modalCloseButton{
    color: #fff;
    font-size: 22px;
    /* margin-left: calc(100% - 26px); */
    text-align: center;
    width: 100%;
    display: inline-block;
    padding:4px;
}
.THIS .slds-tabs--default__nav a:hover, .THIS .slds-tabs--default__nav a:focus{
    border: none !important;
}
.THIS .slds-tabs--default__nav .slds-active a:hover, .THIS .slds-tabs--default__nav .slds-active a:focus{
    border-bottom: 2px solid #0070d2 !important;
}

.THIS .filter-menu, .THIS .sort-menu, .THIS .range-menu{
    width: 100px;
    float:left;
}

.THIS.atm-view.order-footer{
    padding: 0;
}

.THIS.atm-view .filter-menu, .THIS.atm-view .sort-menu, .THIS.atm-view .range-menu{
	width: 80px;
	margin-right: 16px;    
}

.THIS.atm-view .filter-menu{
    margin-left: 20px;
}

.THIS.atm-view .sort-menu{
    margin-right: 0;
}

.THIS.atm-view .range-menu div.uiMenuList.visible{
    left: -10px;
}
.THIS.atm-view .range-menu ul{
    width: 100px;
}

.THIS.atm-view span.tm-menu{
    float: right;
    display: inline-block;
    width: 80px;
    margin-right: 0px;
}

.THIS.atm-view .tm-menu div.uiMenuList.visible{
    left: -85px;
}

.THIS .filter-menu .popupTargetContainer .checkboxMenu, .THIS .sort-menu .popupTargetContainer .actionMenu{
    width: 185px;
}

.THIS .orderStatus span{
    font-weight:bold
}
.THIS .orderStatus span.shipped{
    color:#02a930;
}
.THIS .orderStatus span.partial{
    color:#fd7c29;
}
.THIS .orderStatus span.hold{
    color:#b34847;
}
.THIS .orderStatus span.default{
    color:#666;
}

.THIS a.more-button{
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: white;
    font-weight: bold;
}

.THIS .filter-menu ul, .THIS .tm-menu ul{
    max-height: 450px;
    overflow: scroll;
}

.THIS .product-line, .THIS .segment, .THIS .product{
    background-color: white;
    padding: 15px;
    color: #000;
    border-bottom: solid 1px #ccc;
}

.THIS .product-line.active{
    background-color: #B2CCE3;
}

.THIS .segment.active{
    background-color: #C7DEF0;
}

.THIS .product-line .product-line-name, .THIS .segment .segment-name, .THIS .product .product-name{
    font-weight: bold;
    font-size: 14px;
}

.THIS .product-line .product-line-detail, .THIS .segment .segment-detail, .THIS .product .product-detail{
	font-size: 12px;
}

.THIS .segment-checkbox, .THIS .product-checkbox{
    display: inline-block;
    height: 30px;
    width: 30px;
    border: solid 3px #CCC;
    color: #CCC;
    float: left;
    margin-right: 15px;
    font-size: 19px;
    padding-left: 4px;
}

.THIS .segment.active .segment-checkbox{
    border-color: white;
    color: white;
}
.THIS .product-checkbox {
    margin-left: 35px;
}
.THIS .product.active .product-checkbox{
    border-color: #7599BD;
    color: #7599BD;
}
.THIS .searchBox.blue{
    background-color: #AACCDD;
    margin: 0;
    padding:15px;
}
.THIS .searchBox.blue .fa-search{
    top:25px;
    right:25px;
}
.THIS .searchBox.blue .button{
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    border: solid 1px #ccc;
    text-align: center;
    color: #0070d2;
}
.THIS .hidden{
    display: none;
}
.THIS .sub-header{
    background-color: white;
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    color: #999;
    border-bottom: solid 1px #CCC;
}
.THIS .sub-header .error-message{
    color: #f00;
    margin-left: 5px;
}

.THIS .product-result {
    padding: 15px;
    background-color: white;
    border-bottom: solid 1px #ccc;
    color: #000;
}

.THIS .product-result-name{
    font-weight: bold;
}

.THIS .resolved-price{
    display: inline-block;
}

.THIS .list-price{
    display: inline-block;
    color: #F00;
}

.THIS .product-result-error{
    color: #F00;
}