.THIS .slds-button--neutral.slds-is-selected:focus{
    border-color: #669ac4;
    background-color: #669ac4;
}

.THIS .divider{
    border-bottom: 1px solid #ddd;
    padding: 12px 10px;
    position: relative;
}

.THIS.active .divider{
    background-color: #669ac4;
}

.THIS .divider .divider-name{
    font-size: 17px;
    font-weight: bold;
    color: #669ac4;
}

.THIS.active .divider .divider-name, .THIS.active .divider .divider-total{
    color: white;
}

.THIS .divider .divider-total{
    color: #669ac4;
}

.THIS .divider .divider-name:after {
  content: "";
  height: 0;
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #6498C7;
  position: absolute;
  right: 1rem;
  top: 18px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.THIS.active .divider .divider-name:after {
  border-left-color: white;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.THIS .totals{
    display: none;
}

.THIS.active .totals{
    display:block;
    border-bottom: solid 1px #ccc;
}

.THIS .totals dd.slds-dl--horizontal__detail{
    display: inline-block;
    width: 55%;
    color: #000;
    margin-left:auto;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
}
.THIS .totals dt.slds-dl--horizontal__label {
    float: left;
    width: 45%;
    color: #595959;
    font-size: 15px;
    text-align: right;
}

.THIS .danger, .THIS .totals .slds-dl--horizontal__detail.danger{
    color: #b14b45;
}