.THIS a{
    text-decoration: none !important;
}
.THIS.wrapper{
    background-color: #fff;
}
.THIS .accordion {
  background: #F0F1F2;
}
.THIS .accordion a {
  cursor: pointer;
}
.THIS .accordion .panel {
  overflow: visible;
  border: 1px solid #ddd;
}
.THIS .accordion .panel + .panel {
  border-top: 0;
}
.THIS .accordion .heading {
  display: block;
  padding: 1rem;
  position: relative;
  background: white;
}

.THIS .accordion.redirect .heading{
  display: block;
  padding: 0.5rem;
  padding-left: 1rem;
  position: relative;
  background: white;
}

.THIS .accordion .title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 18px;
  color: #6498C7;
}

.THIS .accordion.redirect .title{
    color: #333;
}

.THIS .accordion .title:after {
  content: "";
  height: 0;
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #6498C7;
  position: absolute;
  right: 1rem;
  top: 18px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.THIS .accordion.redirect .title:after{
    display:none;
}

.THIS .accordion .panel.collapsed .title:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.THIS .accordion .panel.collapsed .content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.THIS .accordion.redirect .panel.collapsed .content {
    overflow: auto;
    max-height: none;
    opacity: 1;
}
.THIS .accordion .panel:not(.collapsed) .content {
  /*-webkit-animation: fadeIn 0.5s forwards;
  -moz-animation: fadeIn 0.5s forwards;
  animation: fadeIn 0.5s forwards;*/
}
.THIS .accordion .panel.danger:not(.selected) {
  background: #F0F1F2;
}
.THIS .accordion .panel.danger:not(.selected) .title {
  color: #B14B45;
}
.THIS .accordion.redirect .panel.danger .title{
  color: #B14B45;
}

.THIS .accordion .panel.danger:not(.selected) .title:after {
  border-left-color: #B14B45;
}
.THIS .accordion .panel.danger.selected .heading {
  background: rgba(177, 75, 69, 0.5);
}
.THIS .accordion.redirect .panel.danger.selected .heading{
    background: #fff;
}

.THIS .accordion .panel.danger.selected .title {
  color: white;
}
.THIS .accordion.redirect .panel.danger.selected .title{
    color: #B14B45;
}
.THIS .accordion .panel.danger.selected .title:after {
  border-left-color: white;
}
.THIS .accordion .panel.selected:not(.danger) .title {
  color: white;
}
.THIS .accordion.redirect .panel.selected:not(.danger) .title {
  color: #333;
}
.THIS .accordion .panel.selected:not(.danger) .title:after {
  border-left-color: white;
}
.THIS .accordion .panel.selected:not(.danger) .heading {
  background: rgba(100, 152, 199, 0.6);
}
.THIS .accordion.redirect .panel.selected:not(.danger) .heading {
  background: white;
}
.THIS .accordion .content {
  background: #F0F1F2;
  font-size: 13px;
  /*max-height: 999px;*/
  /*-webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;*/
}
.THIS .accordion .content {
  background: #fff;
  font-size: 13px;
  /*max-height: 999px;*/
  /*-webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;*/
}


.THIS .btn {
  padding: 0.75rem 0.65rem;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid transparent;
  color: #555;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}
.THIS .btn > span {
  font-weight: 500;
}
.THIS .btn.block {
  max-width: 600px;
  margin: 0 auto;
}

.THIS .btn-disabled {
  background: #DFE1E3;
  color: #6498C7;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  word-break: break-all;
  font-size: 13px;
}

.THIS .btn-default {
  background: white;
  border: 1px solid #d0d0d0;
}
.THIS .btn-default:hover, .THIS .btn-default:active {
  background: #eee;
}

.THIS .btn-blank {
  color: #6498C7;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  display: block;
  padding: 1rem;
}
.THIS .btn-blank:after {
  content: "";
  height: 0;
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #6498C7;
  position: absolute;
  right: 1rem;
  top: 18px;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.THIS .btn-container {
  padding: 1rem;
  border: 1px;
  border-style: solid;
  border-color: white transparent transparent;
}

.THIS .blank-container {
  padding: 1rem;
  border: 1px;
  border-style: solid;
  border-color: white transparent transparent;
}
.THIS .blank-container > p {
  margin: 0;
  font-size: 13px;
}

.THIS .view-details {
  padding: 1rem;
  border-top: 1px solid white;
  color: #555;
}
.THIS .view-details .row section:not(:last-of-type) {
  margin-bottom: 15px;
}
.THIS .view-details .row section.reset {
  margin-bottom: 5px;
}
.THIS .view-details section {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
}
.THIS .view-details section > div {
  font-size: 13px;
}
.THIS .view-details section > div:first-of-type {
  width: 40%;
  min-width: 120px;
  font-weight: 400;
  color: #888;
  max-width: 200px;
}

.THIS .bold {
  font-weight: 800 !important;
}

.THIS .block {
  display: block;
}

.THIS .t-default {
  color: #555 !important;
}

.THIS .italic {
  font-style: italic;
}

.THIS .warning {
  color: #F79E26;
}

.THIS .brand {
  color: #6498C7;
}

.THIS .danger {
  color: #B14B45;
}

.THIS .flex-align-right {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
.THIS .flex-align-right a + a {
  margin-left: 10px;
}

.THIS .headerSection{
    background-color: #fff;
}

.THIS .headerSection h1{
    font-size: 1.4em;
    text-align: center;
    border-bottom: solid 2px #DADFE8;
    padding: 10px;
    color: #666;
}

.THIS .headerSection .alert{
    padding: 0px 5px;
    color: #B14B45;
}
.THIS .accountName{
    padding: 1rem;
    font-size: 15px;
    color: #666;
}
.THIS .accountNumber{
    padding: 1rem;
    color: #666;
}

.THIS .contactWrapper{
    width: 100%;
    border-top: solid 2px #DADFE8;
    padding-top: 10px;
    display: block;
}
.THIS section.largeText div{
    font-size: 18px;
}

.THIS .tracking-number {
    padding: 1rem;
}